<table>
  <tr><td colspan=6 align=center><%= @page_name %></td></tr>
  <% if !params[:branch_id].blank? %>
   <tr><td colspan=6 align="center">Branch: <b><%= Branch.find(params[:branch_id]).name%></b></td></tr>
   <% end %>
  <tr><td colspan=6 align=center><%=  (params[:start_date].blank? )? @ledgers.first.transaction_date : params[:start_date] %> To <%= (params[:end_date].blank?)? Time.zone.now.to_date : params[:end_date] %></td></tr>
  <thead>
    <tr>
       <th align='left'>Date</th>
       <th align='left'>Correspondence Account</th>
       <th align='left'>P a r t i c u l a r s</th>
       <th align='left'>Type</th>
       <th align='right'>Debit</th>
       <th align='right'>Credit</th>
    </tr>
  </thead>
  <tbody>
    <%debit = 0
    credit = 0
    prev_date = nil 
    for ledger in @ledgers %>
    <tr>
      <% if !ledger.retrieve_corresponding_account.nil? %>
      <td><%= ledger.transaction_date.strftime("%d-%m-%Y") %></td>
      <td><%= (ledger.debit > 0)? "To":"By"%> 
       <%= ledger.multiple_correlate_ledgers? ? "Multiple accounts" : (Account.find(ledger.retrieve_corresponding_account).name)%>
      </td>
      <td><%= ledger.description %></td>
      <td><%= ledger.voucher_type %></td>
      <td align='right'><%= format_currency(ledger.debit) %></td>
      <td align='right'><%= format_currency ledger.credit %></td>
      <%debit += ledger.debit
        credit += ledger.credit
        end %>
    </tr>
    <% end %>
  </tbody>
  <tr><td></td><td></td><td></td><td></td><td align='right'><b><%= format_currency debit%></b></td><td align='right'><b><%= format_currency credit%></b></td></tr>
  <tr><td></td><td></td><td><b>Closing Balance</b></td><td></td><td></td><td align='right'><b><%= format_currency closing_balance = debit - credit%></b></td></tr>
  <tr><td></td><td></td><td></td><td></td><td align='right'><b><%= format_currency debit%></b></td><td align='right'><b><%= format_currency(credit + closing_balance) %></b></td></tr>
</table>