<p id="notice"><%= notice %></p>

<p>
  <b>Import file:</b>
  <%= @vendor_import.import_file_id %>
</p>

<p>
  <b>Name:</b>
  <%= @vendor_import.name %>
</p>

<p>
  <b>Opening balance:</b>
  <%= @vendor_import.opening_balance %>
</p>

<p>
  <b>Currency:</b>
  <%= @vendor_import.currency %>
</p>

<p>
  <b>Email:</b>
  <%= @vendor_import.email %>
</p>

<p>
  <b>Website:</b>
  <%= @vendor_import.website %>
</p>

<p>
  <b>Pan:</b>
  <%= @vendor_import.pan %>
</p>

<p>
  <b>Tan:</b>
  <%= @vendor_import.tan %>
</p>

<p>
  <b>Vat tin:</b>
  <%= @vendor_import.vat_tin %>
</p>

<p>
  <b>Excise reg no:</b>
  <%= @vendor_import.excise_reg_no %>
</p>

<p>
  <b>Service tax reg no:</b>
  <%= @vendor_import.service_tax_reg_no %>
</p>

<p>
  <b>Sales tax no:</b>
  <%= @vendor_import.sales_tax_no %>
</p>

<p>
  <b>Lbt registration number:</b>
  <%= @vendor_import.lbt_registration_number %>
</p>

<p>
  <b>Cst:</b>
  <%= @vendor_import.cst %>
</p>

<p>
  <b>Billing address:</b>
  <%= @vendor_import.billing_address %>
</p>

<p>
  <b>City:</b>
  <%= @vendor_import.city %>
</p>

<p>
  <b>State:</b>
  <%= @vendor_import.state %>
</p>

<p>
  <b>Country:</b>
  <%= @vendor_import.country %>
</p>

<p>
  <b>Postal code:</b>
  <%= @vendor_import.postal_code %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @vendor_import.shipping_address %>
</p>

<p>
  <b>Created by:</b>
  <%= @vendor_import.created_by %>
</p>

<p>
  <b>Status:</b>
  <%= @vendor_import.status %>
</p>


<%= link_to 'Edit', edit_vendor_import_path(@vendor_import) %> |
<%= link_to 'Back', vendor_imports_path %>
