<%= a.fields_for :payment_detail do |t| %>	
  <div class="form-group">   
<div class='col-lg-2 text-right'><p></p><strong><span class="badge bg-primary">Card Payment</span></strong></div>
    <div class='col-lg-2'>
      <%= t.label :payment_date, :class => "control-label-required" %>
      <%= t.text_field :payment_date, :class=>"form-control bg-focus" %> 
    </div>
    <div class='col-lg-2'>
	    <%= label_tag "card_number", "Card number", :class=>'control-label' %>
	    <%= t.text_field :account_number, :onkeydown => "return card_cheque_number(event);", :maxlength => 16, :class=>"form-control bg-focus" %> 
    </div> 
    <div class='col-lg-2'>
    	<%= t.label :trancsaction_reference, :class=>'control-label' %>
	    <%= t.text_field :transaction_reference, :class=>"form-control bg-focus" %>
    </div>
  </div>
<% end %>

