  <section id="content">
    <section class="main padder">
      <div class="row">
        <div class="col-lg-4">
       <h2><i class="icon-file text"></i>Receipts</h2>
        </div>
        <div class="col-lg-8 m-t-large" align="right">
          <a href="/receipt_vouchers/new" class="btn btn-success btn-lg"><i class='icon-plus'></i> New Receipt</a>
          <a href="#" class="btn btn-white btn-lg " id="use_filter" title='Filter'><i class="icon-filter"></i></a>  
          <p></p>
          <!-- <a href="#" class="btn btn-default btn-lg"><i class="icon-info"> </i> </a> -->
        </div>  
      </div>
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
           <%= render :partial=> "shared/flash_msg"%>
            <header class="panel-heading">
              <ul class="nav nav-tabs pull-left">
                <li class="active"><a href="#receive_money" data-toggle="tab"><i class="icon-money icon-large text-default"></i>Receive Money</a></li>
                <li class=""><a href="#advance_receive" data-toggle="tab"><i class="icon-reorder icon-large text-default"></i>Advance Receipts</a></li>
                <li><a href="#other_income" data-toggle="tab"><i class="icon-signin icon-large text-default"></i>Other Income</a></li>
              </ul>
            </header>
            <div class="panel-body">
              <div class="tab-content"> 
                <div class="tab-pane active" id="receive_money">
                 <%= render :partial=>"/receipt_vouchers/filter"%>
                  <div class="table-responsive row">
                    <table id="receipt_vouchers" class="table table-striped m-b-none text-small" data-source ="<%= receipt_vouchers_url(:format => "json") %>" >
                      <thead>
                        <%= render :partial => "header" %>
                      </thead>
                      <tbody>
                      </tbody>
                      <tfoot>
                        <%= render :partial => "footer" %>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="advance_receive">
                <%= render :partial=>"/advance_receipts/adavance_receipt_filter"%>
                  <div class="table-responsive row">
                    <table id="advance_receipt_vouchers" class="table table-striped m-b-none text-small" data-source ="<%= receipt_vouchers_url(:format => "json", :advanced=>true) %>" >
                      <thead>
                        <tr>
                          <th>Voucher Number</th>
                          <th>Voucher Date</th>
                          <th>Received from</th>
                          <th>Amount</th>
                          <th>Payment Mode</th>
                          <%if !@company.plan.free_plan? %>
                            <th>Under project</th>
                          <% end %>
                          <th>Status</th>
                          <th>Unallocated Amount</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                      <tfoot>
                        <tr style="visibility:hidden">
                          <th>Voucher Number</th>
                          <th>Voucher Date</th>
                          <th>Received from</th>
                         <%if !@company.plan.free_plan? %>
                          <th>Under project</th>
                         <% end %>
                          <th>Amount</th>
                          <th>Payment Mode</th>
                          <th>Status</th>
                          <th>Unallocated Amount</th>
                          <th>Actions</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="other_income">
                 <%= render :partial=>"/income_vouchers/filter"%>
                  <div class="table-responsive row">
                    <table id="income_vouchers" class="table table-striped m-b-none text-small" data-source ="<%= income_vouchers_url(:format => "json") %>" >
                    <thead>
                      <%= render :partial => "/income_vouchers/header" %>
                    </thead>
                    <tbody>
                 
                    </tbody>
                    <tfoot>
                        <%= render :partial => "/income_vouchers/footer" %>
                    </tfoot>
                 </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
   </section>
  </section>



  