<form action="schedule_demo" method="post" class="m-b-none form-horizontal" data-remote='true' enctype=multipart/form-data >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h4 class="modal-title" id="myModalLabel">Schedule Demo</h4>
      </div>
      <div class="modal-body scroll-y" style="max-height:500px;">
        <div class="errorSection"></div>
          <div class="block">
            <%= label_tag "record_date", "Schedule Date", :class => "control-label-required"%>
            <%= text_field_tag "lead[lead_activities_attributes][0][next_followup]", '' , :size => 10, :class => "form-control" %>
          </div>
            

          <div class='block'>
              <%= label_tag "next_follow_up_time", "Schedule Time" %>
              <%= text_field_tag "lead[lead_activities_attributes][0][next_follow_up_time]", '', :class => "form-control"%>
            </div>
          <div class='block' id="time_spent_box" style="display:none">
            <%= label_tag "time_spent", "Time Spent In Min." %>
            <%= text_field_tag "lead[lead_activities_attributes][0][time_spent]", '',:size => 10, :class => "form-control"%>
          </div>
          <div class='block' id="activity_notes" style="display:none">
              <%= label_tag "outcome", "Outcome" %>
              <%= text_area_tag "lead[lead_activities_attributes][0][outcome]", '', :class => "form-control"%>
          </div>
        <div class="modal-footer">
          <div class='save-btn'></div>
            <button class="btnsave btn btn-sm btn-success" type='submit'  data-loading-text="Saving...">Save</button>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</form>