  <!--Recent Activities -->
  <a href="/workstreams">
    <%= workstream_span(workstream.action_code)%> <%= display_workstream_username(workstream.user)%> <%= workstream_action_code(workstream.action_code)%> 
    <%= workstream_action(workstream.action)%> on <%= workstream.action_time%></a>
  <div class="line pull-in"></div>