<tr class="gradeB">
  <td >
	   <%= link_to truncate(message.subject, :length => 20) ,message %>
	</td>
	<td><%= truncate(message.description, :length => 20) %></td>
  <td><%= message.created_at %></td>
  <td><%= message.from %></td>
  <td>
    <div class="btn-group" style="float: right;">
      <button class="btn btn-white btn-sm" onclick="location.href='/messages/<%= message.id %>'"; >View</button>
      <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
      </button>
        <% if message.can_delete? @current_user.id %>
      <ul class="dropdown-menu pull-right">
        <li><a rel="nofollow" data-method="delete" data-confirm="Are you sure?" href= "/messages/<%= message.id%>" >Delete</a></li>
      </ul>
        <% end %>
    </div>
  </td> 
</tr>