<%= form_for @holiday, :html=>{:class=>"form-horizontal", :remote=>true} do |f| %>
<div class='holiday-notif'></div>
<div class="col-sm-6">
  <p>
    <%= f.label "Holiday date", :class=>"control-label-required" %><br/>
    <%= f.text_field :holiday_date,:class=>"bg-focus form-control" %>
  </p>
  <p>
    <%= f.label "Holiday", :class=>"control-label-required" %><br/>
    <%= f.text_field :holiday, :class => "bg-focus form-control" %>
  </p>
</div>
<div class="col-sm-6">
  <p>
    <%= f.label :description, :class=>"control-label" %><br />
    <%= f.text_area :description, :rows=> 3, :class=>"bg-focus form-control" %>
  </p>
</div>
    <div class="col-lg-8 col-lg-offset-4">                      
      <div class='save-btn'></div>
      <button class="btn btn-sm btn-success btnsave" type='submit'  data-loading-text="Saving...">Save</button>
    </div>

<% end %>
