<script>
	$(document).ready(function(){
		'<% 
  	@data = []
  	 for holiday in @holidays
  	 	@data<<holiday.holiday
  	 	@data<<holiday.description
  	 	@data<<holiday.holiday_date
  	 	
  	 end
  	 %>'
  	data = '<%= @data.join(',')%>'.split(',');
    $("input#autocomplete").autocomplete({
    	source: data
	});
	});
</script>
<!-- Page title -->
 <div id ="pagetitle">
	<div class ="wrapper" >
		<h1>Organisation Settings &rarr;<span>Manage Holiday</span></h1>
		<%= form_for @search, :method => "get" do |f| %>
		<%=f.text_field :holiday_or_description_or_holiday_date_equals, :id=>"autocomplete", :value=>"search" %>
		<%end%>
		
	</div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
       <!-- Left column/section -->
       <section class="column width6 first"></br>
       	
       <div id="tabs-all" class="highlight">
             
             <div class="clearfix"></div>
             <div id="holiday">
                    <% if @holidays.blank? %>
                        <p class="no-holiday"><%= render :partial => "shared/no_record" %></p>
                    <% else %>
					     	   <p><h3>Holidays this year..</h3></p>
                    <table class="display stylized" id="example">
                          <thead>   
                            <tr>
                            	<th>Date</th>
                                <th>Holiday</th>
                            </tr>
                          </thead>
                          <tbody>
                           <% @holidays.each do |holiday|%>
														 <tr>
														   	<td><%= holiday.holiday_date.strftime("%d-%m-%Y") %></td>
															  <td><%= holiday.holiday %></td>
														 </tr>
							             <% end %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="5"></td>
                            </tr>
                          </tfoot>
                        </table>    
                    <% end %>
               </div>
          </div><br />
       </section>
      <!-- End of Left column/section -->
      
    <!-- Right column/section -->
        <aside class="column width2">
           <!--<p ><a href="/departments" class="btn btn-special btn-gray"><img SRC="/images/add.png" class="icon" alt=""/>Create New Department</a></p>-->
             <div id="rightmenu">
                 <dl class="first">
                       <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
                       <dd><a href="/helps/34" class="nyroModal">Help</a></dd>
                       <dd class="last">If you are a new user, you should read "Getting started"</dd>
                 </dl>
             </div><br />
  
         </aside>
  <!-- End of Right column/section -->
 
   </div>
   <!-- End of Wrapper -->

</div>
<!-- End of Page content -->