<%= render "shared/page_title" %>
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Left column/section -->
        <section class="column width8 first">
        	<%if @users.blank?%>
        	<%= render :partial => "shared/no_record"%>
        	<%else%>
            &nbsp;
            <p align="right">
			      <a href="/tds_variance_report/index.pdf" class="btn btn-gray" target ="_blank"><img src="/images/pdf1.gif"  title="Export to PDF"> &nbsp;Export to PDF</a>
            	  <a href="<%= url_for(:format => 'xls')%>" class="btn btn-gray"><img src="/images/excel_icon.gif"  title="Export to Excel"> &nbsp;Export to Excel</a>
           </p><br />
            <div class='highlight'>
                <div id='report_header' align='center'>
                    <%= render "header"%>
                </div>
                <hr>
                <br>
				<span class='small'>For All Employee Under Group &nbsp;:</span><span class='small right'>1-Apr-2010 to 31-Mar-2011</span>
                <table class = "zebra-sriped" border = 0 align = center width=100%>
                    <thead>
                    <tr>
                        <th class='width5'>
                            <span class='char_spacing'>Particulars</span>
                        </th>
                        <th>
                            TDS Amount
                        </th>
                        <th>
                            Varience Amount
                        </th>
                    </tr>
                    </head>
                    <tbody>
                    	<% @month_array = ['April', 'May', 'June', 'July', 'Augest', 'September', 'Octomber', 'November', 'December', 'January', 'February', 'March'] %>
						<% i=0 %>
                    	<% 12.times do %>
						<tr>
							<td>
								<%= @month_array[i] %>
							</td>
							<td>
								
							</td>
							<td>
								
							</td>
						</tr>
						<% i+=1 %>
						<% end %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class='textalignright border_down border_up'>
                                <span class='char_spacing'><b>Grant Total</b></span>
                            </td>
                            <td class="border_down border_up">
                                <span class='WebRupee'>Rs</span>
                                <b>0.0</b>
                            </td>
                        </tr>
                    </tfoot>
                </table><hr>
                <p>
                    <%= render "shared/report_footer"%>
                </p>
            </div>
            <%end%>
        </section>&nbsp;&nbsp;
        <!-- End of Left column/section -->
        <!-- End of Left column/section -->
    </div>
    <!-- End of Wrapper -->
</div>