 <!-- Page title -->
  <%= render "shared/page_title"%>
<!-- End of Page title -->


<table>
  <tr>
    <th>Account</th>
    <th>Quantity</th>
    <th>Unit</th>
    <th>User</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%= inventory.account_id %></td>
    <td><%= inventory.quantity %></td>
    <td><%= inventory.unit %></td>
    <td><%= inventory.user_id %></td>
    <td><%= inventory.company_id %></td>
    <td><%= link_to 'Show', inventory, :onclick => 'Modalbox.show( this.href , {title: "Profit Next", width:400}); return false;' %></td>
    <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Delete', inventory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory', new_inventory_path %>
