 <!-- Page title -->
  <%= render "shared/page_title"%>
<!-- End of Page title -->

<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @inventory.account_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @inventory.quantity %>
</p>

<p>
  <b>Unit:</b>
  <%= @inventory.unit %>
</p>

<p>
  <b>User:</b>
  <%= @inventory.user_id %>
</p>

<p>
  <b>Company:</b>
  <%= @inventory.company_id %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
