<%= form_for(@workstream) do |f| %>
  <% if @workstream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workstream.errors.count, "error") %> prohibited this workstream from being saved:</h2>

      <ul>
      <% @workstream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.text_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :action_time %><br />
    <%= f.datetime_select :action_time %>
  </div>
  <div class="field">
    <%= f.label :IP_address %><br />
    <%= f.text_field :IP_address %>
  </div>
  <div class="field">
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
