<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-6">
        <h2><i class="icon-file-text-alt text"></i> Allocate Credit Note - <%= @credit_note.credit_note_number %></h2>
      </div>
      <div class="col-lg-6 m-t-large" align="right">
        <%= link_to raw('<i class="icon-mail-reply"> </i>'), credit_notes_path, :class => 'btn btn-default btn-lg',:title=>"Back" %>
        <p></p>
      </div>  
    </div>
    <section class="panel">
      <div class="panel-body">
        <%= form_for @credit_note, :url=>"/credit_notes/create_allocation", :method=>:post, :html=>{:class=>"form-horizontal"} do |f| %>
          <%= hidden_field_tag "id", @credit_note.id %>
          <%= render "shared/form_error", :object=>@credit_note %>
          <div class="form-group">
            <div class="col-lg-2 text-right">
              <label>Customer Name</label>
            </div>
            <div class="cols-lg-10"><%= @credit_note.to_account_name %></div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 text-right">
              <label>Unallocated Amount</label>
            </div>
            <div class="cols-lg-10"><%= @credit_note.currency %><%= number_with_precision @credit_note.unallocated_amount, :precision=>2 %></div>
          </div>
          <div class="line line-dashed m-t-large"></div>
          <div class='form-group'>
            <div class="col-lg-12">
              <h4>Showing unpaid invoices:</h4>
            </div>
            <div class="col-lg-12" id='purchaseDetails'>
              <%= render "credit_notes/unpaid_invoices" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">                      
            <%= f.submit "Save", :class=>"btn btn-success" %>
              <%= link_to 'Cancel', debit_notes_path, :class => "btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </section>
</section>