<tr>
  <td colspan = "<%= estimate_line_count %>" class="text-right" style="background:none;"><strong>Sub total</strong></td>
  <td class="text-right" style="background:none;"><strong><%=  number_with_precision @estimate.sub_total, :precision=>2 %></strong></td>
</tr>

<%= render :partial => "tax_line_item_details", :collection => @tax_line_items %>

<% if @estimate.get_discount != 0 %>
	<tr>
		<td colspan = "<%= estimate_line_count%>" class="text-right" style="background:none;border:none;"><strong>Discount</strong></td>
		<td class="text-right" style="background:none;border:none;"><strong><%=  number_with_precision @estimate.get_discount, :precision=>2 %></strong></td>
	</tr>
<% end %>

<% if @estimate.has_tax_lines? %>
	<tr>
		<td colspan = "<%= estimate_line_count %>" class="text-right"><strong>Total tax <%= EstimateLineItem::TAX_TYPE[@estimate.tax_inclusive?]%></strong></td>
		<td class="text-right"><strong><%= number_with_precision @estimate.tax, :precision=>2 %></strong></td>
	</tr>
<% end %>

<%= render :partial=> "shipping_line_item_details" , :collection => @shipping_line_items %>

<tr>
	<td class="text-right" colspan="<%= estimate_line_count %>"><b>Total</b></td>
	<td class="text-right"><b><%= number_with_precision @estimate.amount, :precision=>2 %></b></td>
</tr>

