<div class="form-group">
<% if !@custom_field.blank? && !@company.plan.free_plan? %>
 <% if !@custom_field.custom_label1.blank? %>	
  <div class="col-lg-3">
  <label class="control-label"><%= @custom_field.custom_label1 %></label>
    <%= text_field_tag "estimate[custom_field1]", "#{@estimate.custom_field1.blank? ? @custom_field.default_value1 : @estimate.custom_field1}", :size => "14", :class=>'bg-focus form-control' %>
  </div>
  <div class="col-lg-1"></div>
<% end %>	
<% if !@custom_field.custom_label2.blank? %>	
  <div class="col-lg-3">
  <label class="control-label"><%= @custom_field.custom_label2 %></label>
	<%= text_field_tag "estimate[custom_field2]", "#{@estimate.custom_field2.blank? ? @custom_field.default_value2 : @estimate.custom_field2}", :size => "14",:class=>'bg-focus form-control' %>
  </div>
  <div class="col-lg-1"></div>
<% end %>	
<% if !@custom_field.custom_label3.blank? %>	
  <div class="col-lg-3">
  <label class="control-label"><%= @custom_field.custom_label3 %></label>
    <%= text_field_tag "estimate[custom_field3]", "#{@estimate.custom_field3.blank? ? @custom_field.default_value3 : @estimate.custom_field3}", :size => "14",:class=>'bg-focus form-control' %>
  </div>
  <div class="col-lg-1"></div>
<% end %>	
<% end %>
</div>