<% if !@company.plan.free_plan? %>                
  <div class="col-sm-4">
    <% if !@custom_field.custom_label1.blank? && !@estimate.custom_field1.blank? %>      
    <p><strong><%= @custom_field.custom_label1 %>: </strong> <%= @estimate.custom_field1 %></p>
    <% end %>
    <% if !@custom_field.custom_label2.blank? && !@estimate.custom_field2.blank? %>
      <p><strong> <%= @custom_field.custom_label2 %>: </strong> <%= @estimate.custom_field2 %></p>
    <% end %>
    <% if !@custom_field.custom_label3.blank? && !@estimate.custom_field3.blank? %>
      <p><strong> <%= @custom_field.custom_label3 %>: </strong> <%= @estimate.custom_field3 %></p>
    <% end %>  
  </div>
<% end %>  