   <form action="/estimates/email_estimate" method="post" class="" data-remote='true' >
    <%= hidden_field_tag  :id, estimate.id %>
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
          <h4 class="modal-title" id="myModalLabel">Email <%= @company.label.estimate_label%></h4>
        </div>
        <div class="modal-body">
        <div class="errorPlace"></div>
    <div class="block">
       <%= label_tag :email, 'Email ID' , :class =>"control-label-required" %>
       <%=text_field_tag :email, "#{estimate.account.customer.blank? ? estimate.account.vendor.email : estimate.account.customer.email}", :class => 'bg-focus form-control' %>
      </div>
      <div class="block">
       <%= label_tag :subject, 'Subject' , :class => "control-label" %>
       <%=text_field_tag :subject, "New #{@company.label.estimate_label} has been created for you", :class => 'bg-focus form-control' %>
      </div>
      
    <div class="block">
       <%= label_tag :text, 'Text' , :class => "control-label" %><br/>
       <%= text_area_tag  :text,
        "Hello #{estimate.account.name},
            Please find the #{@company.label.estimate_label} attached with this email.
  Thanks,
  #{@company.name}",
      :rows=>4, :class=>"form-control"%>
    <div class="block"><br/>
       <label><i class="icon-paper-clip icon-large"></i></label>
       <%=  estimate.estimate_number.to_s + ".pdf" %>
    </div>
    <% if !estimate.file_name.blank? %>
      <div class="block">
        <label><i class="icon-paper-clip icon-large"></i></label>
        <%= estimate.file_name %>
      </div>
    <% end %>
    </div>
        <div class="text-center">
          <div class='save-btn'></div>
            <button  class=" btnsave btn btn-sm btn-success" type='submit'  data-loading-text="Sending...">Send</button>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        </div>
</div>
</div>
</div>
      </form>
