<script>
	$(document).ready(function(){
		'<% 
  	@data = []
  	 for master_objective in @master_objectives
  	 	@data<<master_objective.objective_name
  	 	@data<<master_objective.details
  	 	@data<<master_objective.department_id
  	 end
  	 %>'
  	data = '<%= @data.join(',')%>'.split(',');
    $("input#autocomplete").autocomplete({
    	source: data
	});
	});
</script>
 <!-- Page title -->
  <div id ="pagetitle">
	<div class ="wrapper" >
		<h1>Performance Management  &rarr;<span>Master Objectives</span></h1>
		<%= form_for @search, method = "get" do |f| %>
		<%=f.text_field :objective_name_or_details_like, :id => "autocomplete" , :placeholder=>"search"%>
		<%end%>
	</div>
</div>
<!-- End of Page title -->


<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
       <!-- Left column/section -->
       <section class="column width6 first"></br>
       	  <div id="tabs-all" class="highlight">
             <div id="timesheet">
                    <% if @master_objectives.blank? %>
                        <p class="no-withdraw_cash"><%= render :partial => "shared/no_record" %></p>
                    <% else %>
                        <table class="display stylized" id="example">
                          <thead>   
                            <%= render :partial => "header" %>
                          </thead>
                          <tbody>
                             <%= render :partial => "master_objective", :collection => @master_objectives %>
                          </tbody>
                          <tfoot>
                            <%= render :partial => "footer" %>
                          </tfoot>
                        </table> 
                        <div class="clear">
				          	 <div class="width3 column">
				               <%= paginate @master_objectives %>
				             </div>
				        </div>   
                    <% end %>
               </div>
            </div><br />
            
       </section>
      <!-- End of Left column/section -->
      
    <!-- Right column/section -->
    <aside class="column width2"></br>
    	<a href="/master_objectives/new" class="btn btn-special btn-green btn-green-new"><img src="/images/add.png" class="icon"/> Create master objective</a>
		<!--<p class="leading"><a href="/employee_goals/new" class="btn btn-special btn-gray"><img SRC="/images/add.png" class="icon" alt=""/>Create goals for employee</a></p>-->
         <div id="rightmenu">
                 <dl class="first">
                       <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
                       <dd><a href="#" class="nyroModal">Help</a></dd>
                       <dd class="last">This page displays the list of all master objectives.<br/>Click on </dd>
                 </dl>
           </div><br />
  
    </aside>
  <!-- End of Right column/section -->
 
   </div>
   <!-- End of Wrapper -->

</div>
<!-- End of Page content -->
