<!-- Page Title-->
<%= render "shared/page_title" %>
<!-- Page Title end -->
<!-- Page content -->
<div id="page">
<!-- Wrapper -->
  <div class="wrapper">
<!-- Left column/section -->
    <section class="column width6 first"></br>
       <div class="highlight">
         <%= render :partial => "shared/flash_msg"%>
         <table class="display stylized" id="act_details">
            <thead>
    <tr>
             <th colspan="2">Asset Details</th>
    </tr>
      </thead>
      <tbody>
               <tr>
                 <td>
                    <label>Asset tag:</label>
                    <%= @company_asset.asset_tag %>
                 </td>
               </tr>
               <tr>
                 <td>
                    <label>Purchase date:</label>
                    <%= @company_asset.purchase_date.strftime("%d-%m-%Y") %>
                 </td>
               </tr>
               <tr>
    <% if @current_user.roles[0].name == "Owner" || @current_user.roles[0].name=="Accountant"%>
                 <td>
                    <label>Assigned to:</label>
        <%= User.find(@company_asset.assigned_to).first_name %>
                 </td>
                <% else %>
                  <td>
                    <label>Created by:</label>
        <%= User.find(@company_asset.user_id).first_name %>
                 </td>
                <% end %>
         </tr>
               <tr>
                  <td>
                    <label>Description:</label>
                    <%= breaking_word_wrap(@company_asset.description) %>
                  </td>
               </tr>
       </tbody>
             <tfoot>
                <tr>
                  <td colspan="2">
                    <%= link_to 'Edit', edit_company_asset_path(@company_asset),{:class=>"btn btn-green" } %> 
                    <a rel="nofollow" data-method="delete" data-confirm="Are you sure?" href= "" class="btn" >Delete</a>
                     <a href="/company_assets" class="btn">Back</a>&nbsp;
                  </td>
                </tr>
        </tfoot>
    </table>
  </div><br />
   </section>
           <!-- End of Left column/section -->
        <!-- Right column/section -->
         <aside class="column width2"><br />
           <%= new_button "Create New Asset", new_company_asset_path %>
           <p><%= list_button_black "View Assets", company_assets_path %></p>
           </p>
         </aside>
         <!-- End of Right column/section -->
     </div>
   <!-- End of Wrapper -->
 </div>
<!-- End of Page content -->
