<form action="/purchase_orders/email_purchase_order" method="post" class="" data-remote='true' >
    <%= hidden_field_tag  :id, purchase_order.id %>
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
          <h4 class="modal-title" id="myModalLabel">Email Purchase Order</h4>
        </div>
        <div class="modal-body">
        <div class="errorPlace"></div>
    <div class="block">
       <%= label_tag :email, 'Email ID' , :class =>"control-label-required" %>
       <%=text_field_tag :email, "#{purchase_order.account.customer.blank? ? purchase_order.account.vendor.email : purchase_order.account.customer.email}", :class => 'bg-focus form-control' %>
      </div>
      <a id="flip" href="#"><i class="icon-plus"></i>Add cc</a>
      <div id="cc_text_box" >
      <div class="block">
       <%= label_tag :cc, 'CC' , :class => "control-label" %>
       <%=text_field_tag :cc, "", :class => 'bg-focus form-control' %>
      </div>
      </div>
      <div class="block">
       <%= label_tag :subject, 'Subject' , :class => "control-label" %>
       <%=text_field_tag :subject, "New purchase order has been created for you", :class => 'bg-focus form-control' %>
      </div>
      
    <div class="block">
       <%= label_tag :text, 'Text' , :class => "control-label" %><br/>
       <%= text_area_tag  :text,
        "Hello #{purchase_order.account.name},
            Please find the purchase order attached with this email.
  Thanks,
  #{@company.name}",
      :rows=>4, :class=>"form-control"%>
    <div class="block"><br/>
       <label><i class="icon-paper-clip icon-large"></i></label>
       <%= image_tag 'pdf.gif' %> <%=  purchase_order.purchase_order_number.to_s + ".pdf" %>
    </div>
    </div>
        <div class="text-center">
          <div class='save-btn'></div>
            <button  class=" btnsave btn btn-sm btn-success" type='submit'  data-loading-text="Sending...">Send</button>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        </div>
</div>
</div>
</div>
      </form>
