<section id="content">
  <section class="main padder">

    <div class="row">
      <div class="col-lg-7">
        <h2><i class="icon-bar-chart text"></i>Product Catalog</h2>
      </div>
      <div class="col-lg-5 m-t-large" align="right">
        
        <% if !@products.blank?  %>
        <%= link_to_pdf params %>
        <%= link_to_xls params %>
        <%end%>
        <p></p>
      </div>
    </div>


    

    <div class="row">
       <div class="col-lg-12">
      <!-- Table starts -->

            <section class="panel">
              <div class = "panel-body">
       
          <div class="table-responsive row"> 
            <table class="table table-striped b-t text-small">
              <thead>
                <tr>
                  <th> Product Name</th>
                  <th> Product Code</th>
                  <th> Product Category</th>
                  <th> Description</th>
                  <th> Sales Price</th>
                  <th> Purchase Price</th>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |product|%>
                <tr>
                 <td> <%= product.name %> </td>
                 <td> <%= product.product_code %></td>
                 <td> <%= product.tag_list.join(', ') %></td>
                 <td> <%= product.description[0..30] unless product.description.blank? %></td>
                 <td> <%= product.sales_price %></td>
                 <td> <%= product.purchase_price %> </td>
               </tr>
               <% end %>
             </tbody>
           </table>

          </div>
             </div>
        </section>
      </div>
    </div>


   <footer class="row">
    <%= render "shared/report_footer"%>
  </footer>



  <!-- Table ends -->


</section>
</section>