
<%= form_tag({:action => :update_address, :controller => "/invoices"}, :remote=>true) do |f| %>
    <div class="modal-dialog">
      <div class='modal-content'>
        <div class='modal-header'>
          <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
          <h4 class="modal-title" id="myModalLabel">Billing/Shipping Address</h4>
        </div>
        <div class="modal-body scroll-y" style="max-height:500px;">
          <div class="errorSection"></div>
          <h4>Billing Address</h4>
          <div class="line m-l m-r"></div>
          <div class='row'>
            <div class="col-lg-5">
              <%= label_tag "address_line1", "Billing address", :class=>'control-label' %>
              <%= text_area_tag "invoice[billing_address_attributes][address_line1]", billing_address.address_line1, :class=>'form-control bg-focus', :rows=>4 %>
              <%= hidden_field_tag "invoice[billing_address_attributes][address_type]", 1 %>
              <%= hidden_field_tag "invoice[billing_address_attributes][id]", billing_address.id if billing_address.addressable_type=="Invoice"%>
              <%= hidden_field_tag 'id', @invoice.id %>
            </div>
            <div class='col-lg-7'>
              <div class="row">
                <div class='col-lg-6'>
                  <%= label_tag "city", "City", :class=>'control-label' %>
                  <%= text_field_tag "invoice[billing_address_attributes][city]", billing_address.city, :class=>'form-control bg-focus' %>
                </div>
                <div class='col-lg-6'>
                  <%= label_tag "state", "State", :class=>'control-label' %>
                  <%= text_field_tag "invoice[billing_address_attributes][state]", billing_address.state, :class=>'form-control bg-focus' %>
                </div>
              </div>
              <div class="row">
                <div class='col-lg-6'>
                  <%= label_tag "country", "Country", :class=>'control-label' %>
                  <%= text_field_tag "invoice[billing_address_attributes][country]", billing_address.country, :class=>'form-control bg-focus' %>
                </div>
                <div class='col-lg-6'>
                  <%= label_tag "postal_code", "Postal Code", :class=>'control-label' %>
                  <%= text_field_tag "invoice[billing_address_attributes][postal_code]", billing_address.postal_code, :class=>'form-control bg-focus' %>
                </div>
              </div>
            </div>
          </div>
          <h4>Shipping Address</h4>
          <div class="line m-l m-r"></div>
          <div class='row'>
            <div class="col-lg-5">
                <label class="same_address">
                <%= check_box_tag "i_same_address" %>
                  Same as billing
                </label>
              <br />
              <%= label_tag "address_line1", "Shipping address", :class=>'control-label' %>
              <%= text_area_tag "invoice[shipping_address_attributes][address_line1]", shipping_address.address_line1, :class=>'form-control bg-focus', :rows=>4 %>
              <%= hidden_field_tag "invoice[shipping_address_attributes][address_type]",0  %>
              <%= hidden_field_tag "invoice[shipping_address_attributes][id]",shipping_address.id if shipping_address.addressable_type=="Invoice" %>
            </div>
            <div class='col-lg-7'>
             <div class="row">
                <div class='col-lg-6'>
                  <%= label_tag "city", "City", :class=>'control-label' %>
                  <%= text_field_tag "invoice[shipping_address_attributes][city]", shipping_address.city, :class=>'form-control bg-focus' %>
                </div>
                <div class='col-lg-6'>
                  <%= label_tag "state", "State", :class=>'control-label' %>
                  <%= text_field_tag "invoice[shipping_address_attributes][state]", shipping_address.state, :class=>'form-control bg-focus' %>
                </div>
              </div>
              <div class="row">
                <div class='col-lg-6'>
                  <%= label_tag "country", "Country", :class=>'control-label' %>
                  <%= text_field_tag "invoice[shipping_address_attributes][country]", shipping_address.country, :class=>'form-control bg-focus' %>
                </div>
                <div class='col-lg-6'>
                  <%= label_tag "postal_code", "Postal Code", :class=>'control-label' %>
                  <%= text_field_tag "invoice[shipping_address_attributes][postal_code]", shipping_address.postal_code, :class=>'form-control bg-focus' %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
         <div class='save-btn'></div>
         <button class="btnsave btn btn-sm btn-success" type='submit'  data-loading-text="Saving...">Save</button>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
        <% end %>
      
