<%= form_for @project, :html => {:class => "m-b-none form-horizontal"}, :remote=>true do |f| %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h4 class="modal-title" id="myModalLabel">Add Project</h4>
    </div>     
    <div class="modal-body scroll-y" style="max-height:500px;">
     <div class="errorSection"></div>
      <div class="block">
        <label class="control-label-required">Project name</label>
        <%= f.text_field :name,  :maxlength => 50, :class=>"bg-focus form-control" %>
      </div>
      <div class="block">
        <%= f.label "Start date ", :class => "control-label-required" %>
        <%= f.text_field :start_date, :class=>"bg-focus form-control" %>
      </div>
    <div class="block">
    <%= f.label "Estimated cost", :class=>"control-label" %>
    <%= f.text_field :estimated_cost, :onkeydown => "return numbersOnly(event);", :maxlength => 18, :class=>"bg-focus form-control" %> 
    </div>
    <div class="block">
    <%= f.label "Description", :class=>"control-label" %>
    <%= f.text_area :description, :rows => "3", :cols=> "33", :class=>"bg-focus form-control" %>
    </div>
      </div>
    <div class="modal-footer">
    <div class='save-btn'></div>
    <button class="btnsave btn btn-sm btn-success" type='submit'  data-loading-text="Saving...">Save</button>
      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
<% end %>
        





















