<!-- Page title -->
<%= render "shared/page_title"%>
<!-- End of Page title -->
<!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class = "column width6 first"><br />
    	<div class="highlight">
    	<%= render :partial => "shared/flash_msg"%>
          <table class="display stylized" id="act_details">
	    <thead>
	      <tr><th colspan="2">Task Details</th></tr>
	    </thead>
	   <tbody>	
	      <% if !@task.project_id.blank? %>
        <tr>
           <td colspan = "2"><label>Under Project:</label>
           <%= @task.project.name %></td>
        </tr>
        <% end %>
        <tr>
	         <td colspan = "2"><label>Task description:</label>
	         <%= breaking_word_wrap(@task.description) %></td>
	      </tr>
	      <tr>
	        <td colspan = "2"><label>Due date:</label>
	        <%= @task.due_date.strftime("%d-%m-%Y") %></td>
	      </tr>
              <tr>
                <td colspan ="2"><label>Assigned to:</label>
                 <%= @task.assigned_user  %></td>
              </tr>
              <tr>
                 <td colspan = "2"><label>Priority:</label>
                   <%= @task.priority_name %></td>
                </tr>
                <tr>
                   <td colspan ="2"><label>Billable:</label>
                   <%= (@task.billable == true )? 'Yes' : 'No'%></td>
                </tr> 
                <tr>
                   <td colspan ="2"><label>Task status:</label>
                   <%= (@task.task_status == 0 )? 'Incomplete' : 'Complete'%></td>
                </tr>
               <% if @task.billable? %>
                <tr>
                   <td colspan ="2"><label>Income Account:</label>
                   <%= Account.find(@task.sales_account_id).name unless @task.sales_account_id.blank? %></td>
                </tr>
                <% end %>
             </tbody>   
	         <tfoot>
	            <tr>
                  <td colspan="2">	            
	                <%= link_to 'Edit', edit_task_path(@task), :class=>"btn btn-green" %>&nbsp;
                    <% if @current_user.owner? || @task.created_by == @current_user.id %> 
                     <%= link_to 'Delete', @task, :method => "delete", :confirm => "Are you sure?", :class => "btn btn-gray" %>
                     <% end %>
                     &nbsp;
	                <a href="/tasks" class="btn btn-gray">Back</a>
	              </td>  
			    </tr> 
			 </tfoot>
		</table>
		</div><br />
	</section>
       <!-- End of Left column/section -->
        <!-- Right column/section -->
		  	<aside class="column width2"><br />
		     <%= new_button("Add & View Tasks", tasks_path)%>
         <% if @task.billable? %>
          <p>
          <%= new_button("Create Time Invoice", "/invoice/new?time_invoice=#{true}")%>
          </p>
          <% end %>

		     <!--<div id="rightmenu">
				  	<dl class="first">
					  	<dt><%= image_tag 'help.png', :width=>"16", :height=>"16" %></dt>
							<dd><%= link_to 'Help', "#", :class=>"nyroModal" %></dd>
							<dd class="last">Read the Introduction to Accounts in help</dd>							
						</dl>
					</div><br />-->

		  	</aside>
		  	<!-- End of Right column/section -->
	</div>

</div>	 		
