<tr>
		<td><%= link_to "#{lead.name}", admin_lead_path(lead.id) %></td>
		<td><%= lead.mobile %></td>
		<td><%= lead.email %>  
		<td><%= lead.next_call_date %></td>				
		<td><%= lead.get_status %></td>
	</tr>

