  <section id="content">
    <section class="main padder">
      <div class="row">
        <div class="col-lg-4">
       <h2>Dashboard</h2>
        </div>
      </div>
<h3>Welcome, <a href= <%= "/users/#{@current_user.id}" %> ><%= @current_user.first_name.capitalize%></a></h3>
          <%= (session[:last_login_at].blank?)? "":"Your last login was on #{session[:last_login_at]  }"%>

      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <div class="panel-body">


              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12">
                    <section class="panel">
                          <header class="panel-heading">
                            <ul class="nav nav-tabs pull-left">
                             <!-- <li class="active"><a href="#all" data-toggle="tab"><i class="icon-list icon-large text-default"></i>All</a></li> -->
                              <li class="active"><a href="#all_leads" data-toggle="tab"><i class="icon-share icon-large text-default"></i>All</a></li>
                              <li><a href="#todays_leads" data-toggle="tab"><i class="icon-calendar icon-large text-default"></i>Today</a></li>
                              <li><a href="#past_leads" data-toggle="tab"><i class="icon-calendar icon-large text-default"></i>Past</a></li>
                              <li><a href="#upcoming_leads" data-toggle="tab"><i class="icon-calendar icon-large text-default"></i>Upcoming</a></li>
                            </ul>
                          </header>
                      <div class="panel-body">
                      <%= render :partial=> "shared/flash_msg"%>
                        <div class="tab-content"> 
                          <div class="tab-pane active" id="all_leads">
                            <% if @customer_relationships.blank?%>
                            <%= render :partial => "shared/no_record" %>
                              <% else %>
                            <div class="table-responsive row">
                              <table id="all" class="table table-striped m-b-none text-small">
                              <thead>
                              <%= render :partial=> "admin/dashboard/header"%>
                              </thead>
                              <tbody>
                              <%= render :partial=> "admin/dashboard/customer_relationship", :collection=> @customer_relationships %>
                              </tbody>
                              </table>
                            </div>
                            <%end%>
                          </div>

                          <div class="tab-pane" id="todays_leads">
                              <%= render :partial => "admin/dashboard/today" %>
                          </div>
                          <div class="tab-pane" id="past_leads">
                              <%= render :partial => "admin/dashboard/past" %>
                          </div>
                          <div class="tab-pane" id="upcoming_leads">
                              <%= render :partial => "admin/dashboard/upcoming" %>
                          </div><br/>
                      </div>
                    </section>
                  </div>
                </div>
              </div>

              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-12">
                    <section class="panel">
                          <header class="panel-heading">Recent Activities</header>
                      <div class="panel-body">
                        <div class="table-responsive row">
                        <table class="table table-striped b-t text-small">
                          <thead>
                            <tr>
                              <th>Recent Activities</th>
                            </tr>
                          </thead>
                          <tbody>
                          <%= render :partial => 'admin/dashboard/workstream', :collection => @workstreams %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td>
                                 <a href="/admin/workstreams" class="btn btn-info"> View All Activities</a>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </div>
      </div>

    </section>
  </section>


