<section id="content">
    <section class="main padder">
          
  <div class="row">
    <div class="col-lg-7">
        <h2><i class="icon-bar-chart text"></i>Lead Activities</h2>
    </div>
       <div class="col-lg-5 m-t-large" align="right">
    
    <a href="#" class="btn btn-white btn-lg " id="use_filter" title="Filter"><i class="icon-filter"></i></a> 
    
    <p></p>
    </div>
  </div>
    
    <div class="row">
    <!-- Table starts -->
          <div class="col-lg-12">
          <section class="panel">
          <div class="panel-body">
              <%= render :partial => "report_filter" %><br/>
            <% if @lead_activities.blank? %>
          <br />
          <%= render :partial => "shared/no_record" %>
              <% else %>
            <div class="table-responsive row">
              <table class="table table-striped b-t text-small" id="activity_reports">
                <thead>
                  <tr>
                    <th width='15%'> Lead Name </span></th>
                    <th> Activity </th>
                    <th> Date </th>
                    <th> Time Spent </th>
                    <th width='30%'> Outcome </th>
                    <th> Created By </th>
                  </tr>
                </thead>
                <tbody>
                  <% temp = @lead_activities.first.lead_id %>
                  <% total_time_spent = 0 %>
                  <% @lead_activities.each do |la| %>
                  <% if temp == la.lead_id %>
                  <% total_time_spent += la.time_spent unless la.time_spent.blank?  %>
                  <% else %>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total Time Spent: <%= total_time_spent %> Min.</b></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <% total_time_spent = la.time_spent.blank? ? 0 : la.time_spent %>
                  <% temp = la.lead_id %>
                  <% end %>
                  <tr>
                    <td> <%= la.lead.name %></td>
                    <td> <%= la.get_activity %></td>
                    <td> <%= la.record_date.to_date unless la.record_date.blank?%></td>
                    <td> <%= la.time_spent %></td>
                    <td> <%= la.outcome %></td>
                    <td> <%= SuperUser.find(la.lead.created_by).first_name unless la.lead.created_by.blank? %></td>
                  </tr>
                  <%end%>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total Time Spent: <%= total_time_spent %> Min.</b></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        
              <%= paginate @lead_activities %>
          
        </div>
            </div>
            
            </div>
          </section>
      <!-- Table ends -->
      <%end%>

        </div>    
</div>
</section>
</section>
