<section id="content">
<section class="main padder">
   <div class="row">
    <div class="col-lg-7">
        <h2><i class="icon-time text"></i>Scheduled Demo</h2>
    </div>
       <div class="col-lg-5 m-t-large" align="right">
          <a href="#" class="btn btn-white btn-lg " id="use_filter" title="Filter"><i class="icon-filter"></i></a> 
       </div>
    </div>
    
    <div class="row">
    <!-- Table starts -->
          <div class="col-lg-12">
          <section class="panel">
              <%= render :partial => "request_demo_filter" %>

              <header class="panel-heading">
                            <ul class="nav nav-tabs pull-left">
                             <!-- <li class="active"><a href="#all" data-toggle="tab"><i class="icon-list icon-large text-default"></i>All</a></li> -->
                              <li class="active"><a href="#all_leads" data-toggle="tab"><i class="icon-share icon-large text-default"></i>All</a></li>
                              <li><a href="#interested_leads" data-toggle="tab"><i class="icon-user icon-large text-default"></i>Today's Demo</a></li>
                              <li><a href="#might_buy_leads" data-toggle="tab"><i class="icon-user icon-large text-default"></i>Upcoming Demo</a></li>
                              <li><a href="#lost_leads" data-toggle="tab"><i class="icon-user icon-large text-default"></i>Past Demo</a></li>
                            </ul>
                          </header>
                          <div class="panel-body">
                          <%= render :partial => "shared/flash_msg" %>    
                          <div class="tab-content">
                            <div class="tab-pane active" id="all_leads">
                              <div class="table-responsive row">
                               <table class="table table-striped b-t text-small" id="demo" data-source="<%= admin_leads_request_demo_url(:format => 'json', :tab_ref => "all_leads") %>">
                                  <thead>
                                  <%= render :partial => "request_demo_header" %>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                  <tr style="visibility:hidden">
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Assigned To</th>
                                    <th></th>
                                  </tr>
                                </tfoot>
                                </table>
                              </div>
                              </div>
                              <div class="tab-pane" id="interested_leads">
                                <%= render :partial => "admin/leads/todays_leads" %>  
                              </div>
                             
                              <div class="tab-pane" id="might_buy_leads">
                                <%= render :partial => "admin/leads/upcoming_leads" %>  
                              </div>
                              <div class="tab-pane" id="lost_leads">
                                <%= render :partial => "admin/leads/past_due_leads" %>  
                              </div>
                          </div>
            
            </div>
          </section>
      <!-- Table ends -->
      
        </div>    
</div>
</section>
</section>
