<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-6">
        <h2><i class="icon-file-text-alt text"></i> Allocate Payment - <%= @payment_voucher.voucher_number %></h2>
      </div>
      <div class="col-lg-6 m-t-large" align="right">
        <%= link_to raw('<i class="icon-mail-reply"> </i>'), payment_vouchers_path, :class => 'btn btn-default btn-lg',:title=>"Back" %>
        <p></p>
      </div>  
    </div>
    <section class="panel">
    	<%= render :partial => 'payment_vouchers/auto_calculate' %>
      <%= render :partial => "shared/flash_msg" %>
      <div class="panel-body">
        	<%= form_for @payment_voucher, :html=>{:class => "form-horizontal"} do |f| %>
        		<%= hidden_field_tag "back_action", params[:back_action].blank? ? @current_action : params[:back_action] %>
        		<%= render 'shared/form_error', :object => @payment_voucher %>
        		<div class='form-group'>
        			<div class='col-lg-2 text-right'>
      					<%= label_tag "Money Paid To" %>
        			</div>
        			<div class='col-lg-2'>
        				<%= @payment_voucher.to_account_name %>			
        			</div>
        		</div>
  		  		<div class='form-group'>
  		  			<div class='col-lg-2 text-right'>
  							<%= label_tag "Unallocated Amount" %>
  		  			</div>
  		  			<div class='col-lg-2'>
			    			<%= @payment_voucher.currency_code%> <%= number_with_precision @payment_voucher.unallocated_amount, :precision=>2 %>	
  		  			</div>
  		  		</div>
  		  		<% if !@payment_voucher.unallocated_tds_amount.blank? && @payment_voucher.unallocated_tds_amount > 0 %>
	  		  		<div class='form-group'>
	  		  			<div class='col-lg-2 text-right'>
	  							<%= label_tag "Unallocated TDS Amount" %>
	  		  			</div>
	  		  			<div class='col-lg-2'>
				    			<%= @payment_voucher.currency%> <%= number_with_precision @payment_voucher.unallocated_tds_amount, :precision=>2 %>	
	  		  			</div>
	  		  		</div>
	  		  	<% end %>
            <% if @payment_voucher.foreign_currency? %>
  		  		<div class='form-group'>
              <div class='col-lg-2 text-right'>
                <label>Exchange Rate in <%= @company.currency_code%></label>
              </div>
              <div class='col-lg-2' id ="exch_rate" data-exchrate= "<%= @payment_voucher.exchange_rate%>">
                <%= @payment_voucher.exchange_rate %>  
                <%= hidden_field_tag "exchange_rate", @payment_voucher.exchange_rate %>
              </div>
            </div>
            <% end %>
            <div class="line line-dashed m-t-large"></div>
  		  		<div class='form-group'>
			  		  <div class="col-lg-12">
			  		    <h4>Showing unpaid vouchers for the selected customer:</h4>
			  		  </div>
			  		  <div class="col-lg-12" id='invoiceDetails'>
		  		      <%= render "payment_vouchers/unpaid_vouchers", :purchases_payments=>@payment_voucher.purchases_payments, :expenses_payments=>@payment_voucher.expenses_payments %>
			  		  </div>
			  		</div>
  		  		<div class="form-group">
  		  		  <div class="col-lg-9 col-lg-offset-3">                      
  		  		    <button type="submit" class="btn btn-success">Save</button>
  		  		    <%= link_to 'Cancel', payment_vouchers_path, :class => "btn btn-default" %>
  		  		  </div>
  		  		</div>
        	<% end %>
      </div>
    </section>
  </section>
</section>