  <script>
  $(document).ready(function(){
    '<% 
    @data = []
     for payment_voucher in @payment_vouchers
      @data<<payment_voucher.voucher_number
      @data<<payment_voucher.voucher_date
        @data<<payment_voucher.amount
        @data<<payment_voucher.from_account_name
        @data<<payment_voucher.payment_detail.type
     end
     %>'
    data = '<%= @data.join(',')%>'.split(',');
    $("input#autocomplete").autocomplete({
      source: data
  });
  });
</script>
 <!-- Page title -->
  <div id ="pagetitle">
  <div class ="wrapper" >
    <h1>Expenses &rarr;<span>Make Payment</span></h1>
    <%= form_for @search, :method => "get", :action =>"/payment_vouchers/deleted_payment_voucher" do |f| %>
    <%=f.text_field :voucher_number_or_voucher_date_or_amount_or_payment_detail_type_equals, :id => "autocomplete", :placeholder=>"search" %>
    <%end%>
  </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
       <!-- Left column/section -->
       <section class="column width6 first"></br>
       	<div class="highlight">
		<%= render "shared/flash_msg" %>
         <div id="tab2">
                <ul id="tabnav">
                    <li class="tab1">
                        <a href="/payment_vouchers">All</a>
                    </li>
                    <li class="tab2">
                        <a href="/payment_vouchers/deleted_payment_voucher">Deleted</a>
                    </li>
                </ul>
            </div> 
           <div id = "task_container">
            <div id="receipt_voucher_list">
              <% if @payment_vouchers.blank? %>
              	<p class="no-withdraw_cash"><%= render :partial => "shared/no_record" %></p>
              <% else %>
              
                <table class="display stylized" id="example">
                	<thead>   
                  	<%= render :partial => "header" %>
                  </thead>
                  <tbody>
                  	<%= render :partial => "deleted_payment_voucher", :collection => @payment_vouchers%>
                  </tbody>
                  <tfoot >
                  	<%= render :partial => "footer" %>
                  </tfoot>
                </table>    
                <div class="clear">
          	      <div class="width3 column">
                      <%= paginate @payment_vouchers %>
                  </div>
                </div> 
              <% end %>
            </div>
       </div>
      </div></br>
       </section>
      <!-- End of Left column/section -->
      
    <!-- Right column/section -->
       <aside class="column width2"></br>
         <a href="/payment_vouchers/new" class="btn btn-special btn-green btn-green-new"><img src ="/images/add.png" alt ="add" class ="icon"/> Add new receipt</a> 
           <div id="rightmenu">
                <dl class="first">
					<dt><img width="16" height="16" alt="" SRC="/images/help.png" class = "icon" >
					</dt>
					<dd>
						<dd><a href="#">Help</a></dd>
					</dd>
					<dd class="last">
					This page displays the list of payments made.<br/>Click on the voucher date to view more details.<br/><br/>
					</dd>
				</dl>
           </div><br />
       </aside>
      <!-- End of Right column/section -->
     </div>
  <!-- End of Wrapper -->
</div>
<!-- End of Page content -->
