<h1>Listing lables</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Created by</th>
    <th>Estimate label</th>
    <th>Warehouse label</th>
    <th>Customer label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lables.each do |lable| %>
  <tr>
    <td><%= lable.company_id %></td>
    <td><%= lable.created_by %></td>
    <td><%= lable.estimate_label %></td>
    <td><%= lable.warehouse_label %></td>
    <td><%= lable.customer_label %></td>
    <td><%= link_to 'Show', lable %></td>
    <td><%= link_to 'Edit', edit_lable_path(lable) %></td>
    <td><%= link_to 'Destroy', lable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lable', new_lable_path %>
