<h1>Listing webinars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Date</th>
    <th>City</th>
    <th>Detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webinars.each do |webinar| %>
  <tr>
    <td><%= webinar.name %></td>
    <td><%= webinar.email %></td>
    <td><%= webinar.phone %></td>
    <td><%= webinar.date %></td>
    <td><%= webinar.city %></td>
    <td><%= webinar.detail %></td>
    <td><%= link_to 'Show', webinar %></td>
    <td><%= link_to 'Edit', edit_webinar_path(webinar) %></td>
    <td><%= link_to 'Destroy', webinar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Webinar', new_webinar_path %>
