<div class="col-sm-6">
  <div class="channel_info">
    <section class="panel">
      <header class="panel-heading">
        <strong>Channels</strong><span class="pull-right"><a href="#" title="Add New Channel" id ="add_channel" class="btn btn-success btn-sm"><i class="icon-plus"></i>Add New</a></span>
      </header>
      <div class="panel-body">
        <% if @channels.blank?%>
        <%= render :partial => "shared/no_record" %>
        <% else %>
        <div class="table-responsive row">
          <table class="table table-striped m-b-none text-small" id="channels">
            <thead>
              <tr>
                <th>Channel Name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%= render :partial => 'admin/channels/channel', :collection => @channels %>
            </tbody>
          </table>
        </div>
        <% end %>
      </div>
    </section>
  </div>
  <div class="channel_add">
   <section class="panel">
    <header class="panel-heading">
     <strong>Add Channel</strong><span class="pull-right"><a href="#" title="Back" id ="bck_channel" class="btn btn-white btn-sm"><i class="icon-mail-reply"></i></a></span>
   </header>
   <div class="panel-body">
    <%= render "admin/channels/form"%>
  </div>
</section>
</div>
</div>



<div class="col-sm-6">
 <div class="campaign_info">
  <section class="panel">
    <header class="panel-heading">
      <strong>Campaigns</strong><span class="pull-right"><a href="#" title="Add New Campaigns" id ="add_campaign" class="btn btn-success btn-sm"><i class="icon-plus"></i>Add New</a></span>
    </header>
    <div class="panel-body">
      <% if @campaigns.blank?%>
      <%= render :partial => "shared/no_record" %>
      <% else %>
      <div class="table-responsive row">
        <table class="table table-striped m-b-none text-small" id="campaigns">
          <thead>
            <tr>
              <th>Campaign Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%= render :partial => 'admin/campaigns/campaign', :collection => @campaigns %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </section>
</div>
<div class="campaign_add">
 <section class="panel">
  <header class="panel-heading">
   <strong>Add Campaign</strong><span class="pull-right"><a href="#" title="Back" id ="bck_campaign" class="btn btn-white btn-sm"><i class="icon-mail-reply"></i></a></span>
 </header>
 <div class="panel-body">
  <%= render "admin/campaigns/form"%>
</div>
</section>
</div>
</div>