<%= form_for @super_user, :url => ([:admin, @super_user]), :html=>{:class=>"m-b-none form-horizontal", :remote=>true} do |f| %>
<%= render 'shared/form_error', :object => @super_user %>
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
  <h4 class="modal-title" id="myModalLabel">New Super User</h4>
  </div>
 <div class="modal-body">
            <div class="errorSection"></div>
  <div class="block">
     <label class='control-label-required'>First Name</label>
     <%= f.text_field :first_name, :class=>"form-control" %>
   </div>
   <div class="block">
     <label class='control-label-required'>Last Name</label>
     <%= f.text_field :last_name, :class=>"form-control" %>
   </div>
    <div class="block">
     <label class='control-label-required'>Username</label>
     <%= f.text_field :username, :class=>"form-control" %>
   </div>
   <div class="block">  
     <label class='control-label-required'>Email</label>
     <%= f.text_field :email, :class=>"form-control" %>
    </div>
    <div class="block">  
     <label class='control-label-required'>Password</label>
     <%= f.password_field :password, :class=>"form-control" %>
    </div>
    <div class="block">  
     <label class='control-label-required'>Confirm Password</label>
     <%= f.password_field :password_confirmation, :class=>"form-control" %>
    </div>
    <div class="block">  
     <label class='control-label-required'>Active</label>
     <%= f.select(:active, {'True'=>1,'False'=>0}, {:prompt => true}, :class=>"form-control") %>
    </div>
    
    <div class="modal-footer"> 
     <div class='save-btn'></div>
       <button  class='btnsave btn btn-sm btn-success' type='submit'  data-loading-text='Saving...'>Save</button>
     <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
     </div>
  
</div>
</div>
</div>


<% end %>
