       <%= form_for @income_voucher, :url => (@income_voucher), :html=>{:class=>"m-b-none form-horizontal", :remote=>true} do |f| %>
       <%= f.hidden_field :voucher_number %>
       <%= hidden_field_tag "transaction_id",@transaction_id%>
       <%= hidden_field_tag "account_id",@account_id%>
       <%= hidden_field_tag "to_account_id",@account_name%>
       <div class="errorSection"></div>
       <div class="row">
         <div class="col-lg-7">
         <%= label_tag :Received_date, 'Transcation date' , :class => "control-label-required" %>
         </div>
         <div class="col-lg-7">
         <%=f.text_field :income_date,  :class => 'bg-focus form-control' %>
         </div>
       </div><br>
       <div class="row">
         <div class="col-lg-7">
         <%= label_tag :from_account, 'From  Account' , :class => "control-label-required" %>
         </div>
         <div class="col-lg-7">
         <%= select_tag('from_account_id', options_from_collection_for_select(@other_income_from_accounts, :name, :name), :style => "width:180px;") %>
         </div>
       </div><br>

       <div class="row">
         <div class="col-lg-7">
           <label class="control-label control-label-required">Receipt mode </label>
         </div>
         <div class="btn-group col-lg-10" data-toggle="buttons" >
           <label class="btn btn-sm btn-default inc_transaction_type <%= (params[:transaction_type].blank? || params[:transaction_type] == 'cash')? 'active' : '' %>" data-ttype='cash'>
           <%= radio_button_tag 'transaction_type','cash' %>
           <i class="icon-ok icon-large text-active"></i>Cash
           </label>
           <label class="btn btn-sm btn-default inc_transaction_type <%= (params[:transaction_type] == 'cheque')? 'active' : '' %>" data-ttype='cheque'>
           <%= radio_button_tag "transaction_type",'cheque' %>
           <i class="icon-ok icon-large text-active"></i>Cheque
           </label>
           <label class="btn btn-sm btn-default inc_transaction_type <%= (params[:transaction_type] == 'card')? 'active' : '' %>" data-ttype='card'>
           <%= radio_button_tag "transaction_type",'card'%>
           <i class="icon-ok icon-large text-active"></i>Credit/Debit Card
           </label>
           <label class="btn btn-sm btn-default inc_transaction_type <%= (params[:transaction_type] == 'ibank')? 'active' : '' %>" data-ttype='ibank'>
           <%= radio_button_tag "transaction_type",'ibank' %>
           <i class="icon-ok icon-large text-active"></i>Internet Banking
           </label>
         </div>
       </div><br>
       <div class="form-group">
         <div class="oinc"></div>
       </div>
       <div class="row">
         <div class="col-lg-7">
         <%= label_tag :amount, 'Amount' , :class => "control-label-required" %>
         </div>
         <div class="col-lg-7">
         <%=f.text_field :amount,:class => 'bg-focus form-control' %>
         </div>
       </div><br>
       <div class="row">
         <div class="col-lg-7">
         <%= label_tag :description, 'Description' , :class => "control-label" %>
         </div>
         <div class="col-lg-7">
         <%= f.text_area :description, :rows => "2", :class=>"bg-focus form-control" %>
         </div>
       </div><br>
       <div class="row">
         <div class="col-lg-7 col-lg-offset-4">
          <div class='save-btn'></div>
          <button  class=" btnsave btn btn-sm btn-success" type='submit'  data-loading-text="Proccessing...">Submit</button>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
         </div>
       </div>
       <%end%>
       <script type="text/javascript">
       $(document).ready(function(){
          $('#from_account_id').select2();
       });
       </script>