   <script>
  $(document).ready(function(){
    '<% 
    @data = []
     for debit_note in @debit_notes
      @data<<debit_note.debit_note_number
      @data<<debit_note.transaction_date
        @data<<debit_note.amount
     end
     %>'
    data = '<%= @data.join(',')%>'.split(',');
    $("input#autocomplete").autocomplete({
      source: data
  });
  });
</script>
<!-- Page title -->
  <div id ="pagetitle">
  <div class ="wrapper" >
    <h1>Journal &rarr;<span>Debit Notes</span></h1>
    <%= form_for @search, :method => "get", :action=>"/debit_notes/deleted_debit_note" do |f| %>
    <%=f.text_field :debit_note_number_or_transaction_date_or_amount_equals, :id=> "autocomplete" , :placeholder=>"search"%>
    <%end%>
  </div>
</div>
<!-- End of Page title -->


 <!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
  <!-- Left column/section -->
       <section class="column width6 first"></br>
       	<div class="highlight">
           <%= render :partial => "shared/flash_msg"%>
          <div id="tab2">
                <ul id="tabnav">
                    <li class="tab1">
                        <a href="/debit_notes">All</a>
                    </li>
                    <li class="tab2">
                        <a href="/debit_notes/deleted_debit_note">Deleted</a>
                    </li>
                </ul>
            </div> 
           <div id = "task_container"> 
           <div id="tabs-all">
               <div class="colgroup">
                   <div class="width3 column first"> </div>
               </div>
               <div class="clearfix"></div>
               
         <div id="debitnote_index">
               <% if @debit_notes.blank? %>
                  <p class="no-deposite_cash"><%= render :partial => "shared/no_record" %></p>
               <% else %>
                <table class="display stylized" id="example">
                  <thead>   
                    <%= render :partial => "header" %>
                  </thead>
                  <tbody>
                    <%= render :partial => "deleted_debit_note", :collection => @debit_notes%>
                  </tbody>
                  <tfoot>
                    <%= render :partial => "footer" %>
                  </tfoot>
                </table>    
                <div class="clear">
          	      <div class="width3 column">
                      <%= paginate @debit_notes %>
                  </div>
                </div> 
               <% end %>
          </div>
         </div></div>
          </div><br />
          
       </section>
      <!-- End of Left column/section -->
      <!-- Right column/section -->
       <aside class="column width2"><br>
     
         	<a href="/debit_notes/new" class="btn btn-special btn-green btn-green-new"><img alt="" SRC="/images/add.png" class ="icon"> Add new debit note</a>
            <div id="rightmenu">
                  <dl class="first">
                       <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
                       <dd><a href="3">Help</a></dd>
                       <dd class="last">This page displays the list of debit note entries. <br/>Click on transaction date to view more details.<br/></dd>
                  </dl>
            </div><br />
       </aside>
      <!-- End of Right column/section -->
   </div>
  <!-- End of Wrapper -->
</div>

