<p id="notice"><%= notice %></p>

<p>
  <b>Import file:</b>
  <%= @customer_import.import_file_id %>
</p>

<p>
  <b>Name:</b>
  <%= @customer_import.name %>
</p>

<p>
  <b>Opening balance:</b>
  <%= @customer_import.opening_balance %>
</p>

<p>
  <b>Currency:</b>
  <%= @customer_import.currency %>
</p>

<p>
  <b>Phone number:</b>
  <%= @customer_import.primary_phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @customer_import.email %>
</p>

<p>
  <b>Website:</b>
  <%= @customer_import.website %>
</p>

<p>
  <b>Pan:</b>
  <%= @customer_import.pan %>
</p>

<p>
  <b>Tan:</b>
  <%= @customer_import.tan %>
</p>

<p>
  <b>Vat tin:</b>
  <%= @customer_import.vat_tin %>
</p>

<p>
  <b>Cst reg no:</b>
  <%= @customer_import.cst_reg_no %>
</p>

<p>
  <b>Cin:</b>
  <%= @customer_import.cin %>
</p>

<p>
  <b>Excise reg no:</b>
  <%= @customer_import.excise_reg_no %>
</p>

<p>
  <b>Service tax reg no:</b>
  <%= @customer_import.service_tax_reg_no %>
</p>

<p>
  <b>Lbt registration number:</b>
  <%= @customer_import.lbt_registration_number %>
</p>

<p>
  <b>Credit days:</b>
  <%= @customer_import.credit_days %>
</p>

<p>
  <b>Credit limit:</b>
  <%= @customer_import.credit_limit %>
</p>

<p>
  <b>Billing address:</b>
  <%= @customer_import.billing_address %>
</p>

<p>
  <b>City:</b>
  <%= @customer_import.city %>
</p>

<p>
  <b>State:</b>
  <%= @customer_import.state %>
</p>

<p>
  <b>Country:</b>
  <%= @customer_import.country %>
</p>

<p>
  <b>Postal code:</b>
  <%= @customer_import.postal_code %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @customer_import.shipping_address %>
</p>


<%= link_to 'Edit', edit_customer_import_path(@customer_import) %> |
<%= link_to 'Back', customer_imports_path %>
