$("#error_list li").remove();
$("#popup_box_fixed input:text").css('border-color', '');
var quantity = 0;
var flag = true;
<% if params[:warehouse_id].blank? %>
  $("#error_list").append("<li>Please select warehouse and add quantity.</li>");
  flag = false;
<% else %>
  <% @warehouses.each_with_index do |warehouse, index| %>  
    $("#purchase_purchase_line_items_attributes_<%= params[:row_index]%>_purchase_warehouse_details_attributes_<%= index %>_quantity").val('');
    if($("#warehouse_at<%= warehouse.id %>").attr("data-removable") == 'true' && !$("#warehouse_at<%= warehouse.id %>").is(':checked')){
      $("#purchase_purchase_line_items_attributes_<%= params[:row_index] %>_purchase_warehouse_details_attributes_<%= index %>__destroy").val('1');
    }
    <% if params[:warehouse_id].include?(warehouse.id.to_s) %>
      <% if params['product_quantity_at'+warehouse.id.to_s].blank? %>
        $("#error_list li").remove();
        $("#error_list").append("<li>Please add quantity.</li>");
        $("#quantity_at_<%= warehouse.id %>").css('border-color','red');
        flag = false;
      <% elsif params['product_quantity_at'+warehouse.id.to_s].to_i <= 0 %>
        $("#error_list li").remove();
        $("#error_list").append("<li>Quantity must be greater than zero.</li>");
        $("#quantity_at_<%= warehouse.id %>").css('border-color','red');
        flag = false;
      <% else %>
        $("#purchase_purchase_line_items_attributes_<%= params[:row_index]%>_purchase_warehouse_details_attributes_<%= index %>_quantity").val(<%= params['product_quantity_at'+warehouse.id.to_s] %>);
        quantity += parseFloat("<%= params['product_quantity_at'+warehouse.id.to_s] %>");
      <% end %>
    <% end %>
  <% end %>
<% end %>
if(flag){
  $("#row<%= params[:row_index] %> #quantity").val(quantity);
  $("#popup_box_fixed").fadeOut("slow");
  cal();
}