<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-7">
        <div class="clearfix">
          <h3><i class="icon-bullhorn"></i>Product Updates</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <section class="panel" >
          <div class="panel-body">
            <% @product_updates.each do |product_update| %>
              <article class="media">
                <span class="pull-left thumb-small"><i class="<%= product_update.icon_code%> icon-2x text-muted"></i></span>                
                <div class="media-body">
                  <div class="h4"><%= product_update.title %></div>
                  <small class="block"><%= product_update.release_date%> <span class="badge bg-info"><%= product_update.feature_name%></span></small>
                  <p class="block">
                    <%=product_update.details %>
                  </p>
                  <%= product_update_link(product_update) %>
                </div>
              </article>
              <div class="line pull-in"></div>
            <% end %>
            <%= paginate @product_updates %>
	  </div>
        </section>
      </div>
    </div>
  </section>
</section>