<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blog_author.name %>
</p>

<p>
  <b>Author user name:</b>
  <%= @blog_author.author_user_name %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @blog_author.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @blog_author.salt %>
</p>

<p>
  <b>Email:</b>
  <%= @blog_author.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @blog_author.bio %>
</p>


<%= link_to 'Edit', edit_blog_author_path(@blog_author) %> |
<%= link_to 'Back', blog_authors_path %>
