  <%= form_for @transfer_cash, :html => {:class => "form-horizontal"} do |f| %>
      <%= render 'shared/form_error', :object => @transfer_cash %> 
          <div class="form-group">
            <% if @transfer_cash.voucher_setting.custom_sequence? %>
              <div class="col-lg-2 text-right"> 
                <label class="control-label-required">Voucher Number</label>
              </div>
              <div class="col-lg-2">
                <%= f.text_field :voucher_number, :class=>"form-control bg-focus", :style => "width:200px;" %>
              </div>
            <% else %>
              <div class="col-lg-2 text-right"> 
                <label class="control-label">Voucher Number</label>
              </div>
              <div class="col-lg-3">
                <label class="control-label">
                  <%= @transfer_cash.voucher_number%><%= f.hidden_field :voucher_number %>
                </label>
              </div>
            <% end %>
          </div>
          <div class="form-group">
          <div class="col-lg-2 text-right">
            <%= f.label :Transaction_date,  :class=>"control-label-required"  %>
          </div>
           <div class="col-lg-3">
            <%= f.text_field :transaction_date, :size => "14", :class => 'bg-focus form-control' %>
          </div>
          </div>
        
        <div class="form-group">
          <div class="col-lg-2 text-right">
            <%= f.label :Transferred_from_id, :class=>"control-label-required"%>
          </div>
          <div class="col-lg-3">
          <div class="input-group">
             <%= f.select(:transferred_from_id, options_from_collection_for_select_with_add_new(@tran_from_accounts, :id, :name, @transfer_cash.transferred_from_id), {:prompt => 'Type to Select'},{:style => "width:200px;"}) %>
             </div>
            <span id="tc_from_acc_bal" ></span>
          </div>
          </div>
          <div class="form-group">
          <div class="col-lg-2 text-right">
           <%= f.label :Transferred_to_id,:class=>"control-label-required" %>
          </div>
          <div class="col-lg-3">
          <div class="input-group">
            <%= f.select(:transferred_to_id, options_from_collection_for_select_with_add_new(@tran_to_accounts, :id, :name, @transfer_cash.transferred_to_id), {:prompt => 'Type to select'},{:style => "width:200px;"}) %>
            </div>
            <span id ="tc_to_acc_bal"></span>
        </div>
        </div>
        <div class="form-group">
        <div class="col-lg-2 text-right">
          <%= f.label :Amount, :class =>"control-label-required" %>
        </div>
        <div class="col-lg-3">
         <%= f.text_field :amount , :onkeydown => "return numbersOnly(event);", :maxlength => 18, :class=> "bg-focus form-control text-right sm-input" %>
        </div>
        </div>
        
          <div class="form-group">
              <div class="col-lg-2 text-right">
               <label class="control-label">Description</label>
              </div>
              <div class="col-lg-4">
                <%= f.text_area :description, :rows => "3", :class=>"bg-focus form-control" %>
                </div>
            </div>
                <div class="form-group">
                  <div class="col-lg-9 col-lg-offset-3">                      
                    <%= f.submit "Save", :class=>"btn btn-success"%>
                    <%= link_to 'Cancel', '/banking/index#transfer-cash', :class => "btn btn-default" %>
                  </div>
                </div>
          <% end %>
			<!-- .modal -->
  <div id="modal-transferred-from-account" class="modal fade">
    <%= render "shared/account_details", :account_heads => @tran_from_account_heads, :transaction_type => "contra" %>
  </div>
  <div id="modal-transferred-to-account" class="modal fade">
    <%= render "shared/account_details", :account_heads => @tran_to_account_heads, :transaction_type => "transfer_to" %>
  </div>
  <!-- / .modal -->
<script type="text/javascript"> 
  $("#transfer_cash_transferred_from_id").select2();
  $("#transfer_cash_transferred_to_id").select2();
</script>