<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
<%= render :partial=> "meta_tags"%>

<!-- ////////////////////////////////// -->
<!-- //     Retina Bookmark Icon     // -->
<!-- ////////////////////////////////// -->
<link rel="apple-touch-icon-precomposed" href="/images/apple-icon.png"/>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag 'home' %>

<!--Start of Zopim Live Chat Script-->
<%= render :partial=> "zopim_chat_and_google_analytics" %>
<!-- End Load google Analytics -->
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>

<div id="main-wrapper">

  <!-- header start here -->
  <%= render :partial=> "header"%>
    <!-- header end here -->
      
    <!-- page title start here -->
    <section id="special-content-wrapper">
      <div class="row pagetitle">
            <div class="seven columns">
                <h2>Terms Of Service</h2>                
            </div>
            <div class="five columns">
              <div id="breadcrumb">
                  <a href="/home/pricing" class="simpleBTN green large">Get started for FREE</a>
                </div>  
          </div>
      </div>
    </section>
    <!-- page title end here -->
    
    <!-- content section start here -->
    <section id="content-wrapper">
    
      <div class="row">    
            <div class="twelve columns"> 
                <p>These terms may be updated from time to time in the future. You agree to review our Terms of Service regularly by visiting this page. Your continued access to or use of the service will mean that you agree to the changes.  You will be notified of any significant changes to our Terms of Service. </p>
          <p><strong>Service Offered</strong><br />
          Online access to ProfitBooks.net application for accounting purposes.</p>
          <p><strong>Account</strong><br />
          If we accept an application for the creation of a ProfitBooks.net account, we will confirm this by email and at that point a legally binding contract will be created between the Account Holder and us. If you apply for a ProfitBooks.net account to be created, you warrant that you are authorized to enter into this Agreement. The provisions of these Terms of Service shall govern our agreement with you. We reserve the right, at our discretion, not to accept an application to create a ProfitBooks.net account. This may be due to technical constraints, because you or your business has been banned by us from using the service, we have been unable to adequately confirm your identity or for any other reason. No charge will be made for declined applications. </p>
          <p><strong>Limitation of liability</strong><br />
          ProfitBooks.net provides its services at an affordable cost. Its liability to you is limited to the fees collected from you.</p>
          <p><strong>Exclusion of liability for loss caused by others</strong><br />
          ProfitBooks.net will not be liable if such losses, penalties, surcharges, interest or additional tax liabilities are due to the acts or omissions of any other person or due to the provision to it of incomplete, misleading or false information or if they are due to a failure to act on its advice or a failure to provide it with relevant information.</p>
          <p><strong>Exclusion of liability in relation to circumstances beyond our control</strong><br />
          ProfitBooks.net will not be liable to you for any delay or failure to perform its obligations if the delay or failure is caused by circumstances outside their control.</p>
          <p><strong>Exclusion of liability relating to the discovery of fraud etc</strong><br />
          ProfitBooks.net will not be responsible or liable for any loss, damage or expense incurred or sustained if information material to the service it is providing is withheld or concealed from it or misrepresented to it. This applies equally to fraudulent acts, misrepresentation or wilful default on the part of any party to the transaction and their directors, officers, employees, agents or advisers.</p>
          <p><strong>Limitation of Third Party Rights</strong><br />
          The advice and information provided by ProfitBooks.net to you as part of the service is for your sole use and not for any third party to whom you may communicate it unless we have expressly agreed that a specified third party may rely on our work. No responsibility is accepted to third parties, for any advice, information or material produced as part of their work for you, which you make available to them.</p>
          <p><strong>Your responsibilities</strong><br />
          In order for ProfitBooks.net to manage your accounts correctly you agree to protect your account credentials. You should not share your login information to anyone outside your organization.</p>
          <p><strong>Access</strong><br />
          You will not be able to access and use the ProfitBooks.net service without a valid username and password. In case you can not retrieve your password using online password reset tool, you will have to go through a manual verification process in order to re-claim your account. ProfitBooks.net holds the rights to take the final decision.</p>
          <p><strong>License</strong><br />
          You are granted a non-transferable, non-exclusive license to use the Service in accordance with these Terms of Service. If you choose to give another party access to your account you do so at your own risk and you shall remain primarily liable to ProfitBooks.net for complying with these Terms of Service for the use of the Service.</p>
          <p><strong>Security</strong><br />
          The Account Holder is ultimately responsible for administering and safeguarding any passwords created to control access to its ProfitBooks.net account: please keep any password issued to you secure. ProfitBooks.net staff, do not have access to any Account Holder's passwords and will not be able to access your account without the Account Holder's authentication and permission. All transfer of Accounts Holder's data between our servers and any external environment is encrypted.</p>
          <p><strong>Fees and Payment Terms</strong><br />
          A subscription fee will be charged as per the plans mentioned on the pricing page. We strictly comply with the laws of the land and we will charge Service Tax at applicable rates.</p>
          <p><strong>Non-payment</strong><br />
          We shall be under no obligation to provide the Service if the subscription fee is not paid to us on time. The Account Holder must ensure that we have complete and accurate billing and contact information throughout the subscription period, including the full name of the Account Holder, its business address, and a billing contact email address. If subscription fees become overdue we reserve the right to suspend your access to the Service until the balance is paid and we may close the Account Holder's ProfitBooks.net account permanently and disengage ourselves as Agent.</p>
          <p><strong>Suspension or termination</strong><br />
          If you fail to abide by these Terms of Service, or if payment of the subscription fees is not paid on time, we reserve the right to suspend or terminate your access to the Service. If we withdraw access to the Service no refund will be payable by us. One month's notice will be given prior to the suspension of an account after which time if any issue has not been resolved within the following month we will take action to disengage ourselves as your Agent. We also reserve the right to close any ProfitBooks.net account for any reason, by giving one month's notice. Suspension of your account could seriously jeopardize our ability to manage your company accounts and could lead to the missing of submission deadlines. ProfitBooks.net cannot be held liable for any fines incurred resulting from this.</p>
          <p><strong>Cancellation</strong><br />
          You can close the Account Holder's ProfitBooks.net account at any time by contacting us on support@profitbooks.net. No further subscription fees will be billed and no refund will be made of any subscription fees already billed and paid. You are eligible for refund only during first 30 days of the registration. In that case, you will have to provide a convincing reason for cancellation. </p>
          <p><strong>Availability</strong><br />
          We will make reasonable endeavors at all times to ensure that the Service will be suitable for your intended use. We cannot guarantee that it will be error-free, timely, reliable, entirely secure, virus-free or available at all times since we are dependent on the reliability of the Internet and your use of your own computer to access the Service. We will try to keep any disruptions to a minimum but it may be necessary to suspend the Service from time to time to carry out maintenance and support work.</p>
          <p><strong>Prohibited Use</strong><br />
          Except as otherwise permitted under this Agreement, you shall not: a) remove or alter the conditions of use, any copyright notices and other identification disclaimers as they may appear on the website, or in any print format; b) provide by electronic means to any person other than an authorized user any content; c) alter or change any part of the content.</p>
          <p><strong>Ownership</strong><br />
          The legal and beneficial interest in all copyrights, patents, trade marks, service marks, design rights (whether registered or unregistered), database rights, proprietary information rights and all other proprietary rights as may exist anywhere in the world together with applications associated with any such rights (&quot;Intellectual Property Rights&quot;) relating to the Service belong to us at all times. You obtain no ownership rights in the Service or any of the Intellectual Property Rights pursuant to or arising out of this Agreement. The Account Holder has sole responsibility for the provision of accurate and reliable data. The Account Holder retains ownership of any Intellectual Property Rights it has in your Data (such as rights in its logo, for example.) Intellectual Property Rights in your Data will not be transferred to us. We reserve the right to disclose your Data to law enforcement officials in the investigation of fraud or other alleged unlawful activities but otherwise we will only use your Data to provide the Service.</p>
          <p><strong>Exclusion of our liability</strong><br />
          You use the Service entirely at your own risk. We do not restrict our liability (if any) for personal injury or death resulting from our negligence, for fraud committed by us or for any matter, which it would be illegal to limit or to attempt to restrict. We exclude all other liability and responsibility for any amount or kind of loss or damage arising in connection with the Service.</p>
          <p><strong>Limitation of our liability</strong><br />
          Neither party shall be liable under this agreement to the other party for indirect, special, exemplary, punitive or consequential damages including without limitation loss of goodwill, whether arising from negligence, breach of contract or otherwise. Where we are not legally entitled to exclude our liability, our total liability for any loss or damage relating to the Service (or to our website generally) shall not exceed an amount equal to the subscription fees, which the Account Holder has paid to us in the previous month.</p>
          <p><strong>Liability to us</strong><br />
          If you access the Service using a password created to control access to the Account Holder's ProfitBooks.net account, then the Account Holder shall be held liable for any reasonable costs and expenses incurred by us as a result of breach of these Terms of Service by you. Otherwise, you shall be held personally liable for any reasonable costs and expenses incurred by us as a result of breach of these Terms of Service by you.</p>
          <p><strong>Further provisions</strong><br />
          These Terms of Service and our Privacy Statement describe the entire agreement between you and us regarding the Service, and supersede any prior understandings or agreements. We shall be entitled to assign or subcontract our rights and/or obligations under these Terms of Service to another party. As Account Holder you may not transfer any of your rights or obligations under these Terms of Service without our prior written consent. Failure at any time to enforce any of these terms and conditions or to require performance by the other party of any such term or condition shall not be construed as a waiver of such provision or affect the right of either party to enforce the same. If any provision is held to be invalid or unenforceable by any tribunal of competent jurisdiction, the remaining provisions shall not be affected and shall be carried out as closely as possible according to the original intent.</p>
          <p><strong>Data Protection</strong><br />
          In order to carry out the services of this engagement and for related purposes such as updating the enhancing our client records, analysis for management purposes and statutory returns, legal and regulatory compliance and crime prevention we may obtain, process, use and disclose personal data about you.</p>
          <p><strong>Electronic and Other Communication</strong><br />
            We will communicate with you and with third parties via email or by other electronic means, unless another method is more appropriate. You will be responsible for virus checking emails and any attachments. With electronic communication, there is a risk of non-receipt, delayed receipt, inadvertent misdirection or interception by third parties. We use virus-scanning software to reduce the risk of viruses and similar damaging items being transmitted through emails or electronic storage devices.<br />
          However, electronic communication is not totally secure and we cannot be held responsible for damage or loss caused by viruses nor for communications, which are corrupted or altered after despatch. Nor can we accept any liability for problems or accidental errors relating to this means of communication especially in relation to commercially sensitive material. Any communication by us with you sent through the post system is deemed to arrive at your postal address two working days after the day that the document was sent.</p>
          <p><strong>Retention of and Access to Records</strong><br />
          You have a legal responsibility to retain documents and records relevant to your tax affairs. During the course of our work, we may collect information from you and others relevant to your tax affairs. We will return any original documents to you, if requested. Documents and records relevant to your tax affairs are required by law to be retained by individuals and companies for 8 years from the end of the accounting period. Whilst certain documents may legally belong to you, we may destroy correspondence and other papers that we store, electronically or otherwise, which are more than 7 years old. You must inform us if you require the return or retention of any specific documents for a longer period.</p>
          <p><strong>Applicable Law</strong><br />
          These Terms of Service are governed by and construed in accordance with Indian Law and the parties agree to submit to the exclusive jurisdiction of the Courts of Pune, Maharashtra, India.</p>
          <p><strong>Definitions</strong><br />
          &quot;Account Holder&quot; means a sole trader, firm, limited company or any other legal entity which has a ProfitBooks.net account;</p>
          <p>&quot;ProfitBooks.net account,&quot; means a current subscription to the Service.</p>
          <p>&quot;Service&quot; means our ProfitBooks.net software, which is accessed and used via our password-protected websites;</p>
          <p>&quot;us&quot; &quot;we&quot; and &quot;our&quot; &quot;ProfitBooks.net&quot; refers to ProfitBooks Solutions Private Limited.</p>
          <p>&quot;you&quot; means the Account Holder;</p>
          <p>&quot;your Data&quot; means any data entered or uploaded by you while using the Service.<br />
          </p>
          <!-- <p><strong>Contact Details</strong><br />
          For application support, please visit our <a href="https://profitbooks.zendesk.com/home">Support Center.</a></p> -->
                <div class="clear"></div>
            </div>     
          </div>            
      </div>       
         
    </section>
    <!-- content section end here -->
    
    <!-- footer section start here -->
    <%= render :partial => "footer"%>
    <!-- footer section end here -->
    
</div>

<script>$('#noscript').remove();</script>
</body></html>