<section id="content">
 <section class="main padder">
  <div class="row">
    <div class="col-lg-7">
      <h2><i class="icon-bar-chart text"></i>Product Wise Pending/Unexecuted Order</h2>
    </div>
    <div class="col-lg-5 m-t-large" align="right">
    <a href="#" class="btn btn-white btn-lg " id="use_filter" title="Filter"><i class="icon-filter"></i></a>
    <% if !@sales_order_line_items.blank? %>
      <%= link_to_pdf params %>
      <%= link_to_xls params %>
    <%end%>
    <p></p>
    </div>
  </div>
 <div class="row">
    <!-- Table starts -->
    <div class="col-lg-12">
    <section class="panel">
    <div class="panel-body">
    <%= render :partial => "filter" %>
    <% if @product.blank? && @sales_order_line_items.blank? %>
     <%= render :partial=>"shared/no_record" %>
    <% else %>
     <div class="row">
      <div class="col-lg-7 col-lg-offset-5">
        <span class="xsmall light">Product name : <span class="large"><b><%= @product.name %></b> (Available stock: <%= @product.stocks.sum(:quantity) %>)</span><br />
      <% if !params[:branch_id].blank? %>
          <span class="xsmall light">Branch: <b><%= Branch.find(params[:branch_id]).name%></b></span><% end %><br />
        <span class="xxsmall light">
          From: <%= render :partial=>"shared/duration"%>
        </span>
      </div>
    </div><br />
    <div class="table-responsive row">
      <table class="table table-striped b-t text-small">
        <thead>
          <tr>
            <th>Date</th>
            <th>Sales Order</th>
            <th>Customer</th>
            <th>Quantity</th>
            <th>Executed</th>
            <th>Unexecuted</th>
          </tr>
        </thead>
        <tbody>
           <% total_quantity = 0
              total_delivered_quantity = 0
              total_remaining_quantity = 0
              prev_date = nil
              so_no = nil
              %>

           <% @sales_order_line_items.each do |line_item|%>
            <% so = line_item.sales_order %>
           <tr>
             <td><%= (so.voucher_date == prev_date) ? " " : so.voucher_date %></td>
             <% prev_date = so.voucher_date %>
             <td><%= (so.voucher_number == so_no) ? " " : ( link_to "#{so.voucher_number}", sales_order_path(so)) %></td>
             <% so_no = so.voucher_number %>
             <td><%= so.customer_name%></td>
             <td><%= line_item.quantity%></td>
             <td><%= line_item.delivered_quantity%></td>
             <td><%= line_item.remaining_quantity%></td>
           </tr>
           <% total_quantity += line_item.quantity
              total_delivered_quantity += line_item.delivered_quantity
              total_remaining_quantity += line_item.remaining_quantity
              %>
           <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td class="text-right"><b>Total</b></td>
            <td><b><%= total_quantity %></b></td>
            <td><b><%= total_delivered_quantity %></b></td>
            <td><b><%= total_remaining_quantity %></b></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <% end %>
      <footer class="row">
      <%= render "shared/report_footer"%>
      </footer>
      </div>
    </section>
<!-- Table ends -->
  </div>
</div>
</section>
</section>