<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-6">
        <h2><i class="icon-file-text-alt text"></i>Other Income Detail </h2>
      </div>
      <div class="col-lg-6 m-t-large" align="right">
        <a href="/receipt_vouchers/new" class="btn btn-success btn-lg"> <i class="icon-plus"></i> New Receipt</a>
        <% unless @income_voucher.in_frozen_year? %>
          <div class="btn-group">
            <button  onclick="location.href= '<%= edit_income_voucher_path(@income_voucher)%>'"; class="btn btn-info btn-lg" > <i class="icon-edit"> </i> Edit</button>
            <button class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span><i></i>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to raw('<i class="icon-trash"> </i>Delete '), income_voucher_path(@income_voucher), :method => "delete", :confirm => "Are you sure?" %></li>
            </ul>
          </div>
        <% end %>
        <%= link_to raw('<i class="icon-print"> </i>'), income_voucher_path(@income_voucher, :format => 'pdf'), :class => 'btn btn-white btn-lg', :target =>"_blank" %>
        <%= link_to raw('<i class="icon-mail-reply"> </i>'), "/receipt_vouchers/#other_income",:title=>"Back" ,:class => 'btn btn-default btn-lg' %>
        <p></p>
      </div>  
    </div>
    <section class="panel">
      <%= render :partial => "shared/flash_msg" %>
      <div class="panel-body">
        <div class="row">
          <!-- Invoice second section -->
         <div class="col-sm-5">
           <h4><strong> Money received from: </strong> <br/><%= @income_voucher.from_account_name %></h4>
         </div>
            <div class="col-sm-7">
            <section class="panel">
              <div class="panel-body">
                <!-- Invoice basic details -->
                <div class="col-sm-6">
                  <p>
                   <strong> Voucher Number: </strong><%= @income_voucher.voucher_number %>
                  </p>
                  <p><strong> To Account: </strong> <%= @income_voucher.to_account_name %></p>
                  <p><strong> Amount: </strong> <%= format_currency @income_voucher.amount %></p>
                </div>
              </div>
              
              <footer class="panel-footer">
                <div class="row">
                  <div class="col-sm-6"><i class="icon-calendar"> </i> Received on <%=@income_voucher.income_date %> 
                	</div>
                	
                  <div class="col-sm-6">
                  <i class="icon-suitcase"> </i>   Receipt Mode:  <%= @income_voucher.payment_detail.payment_mode %></div>
                  </div>
              </footer>
            </section>
          </div>
          <!-- Invoice second section ends-->
        </div>
		<div class="form-gourp">
			<div class="col-lg-12 row">
				<table class="table table-striped b-t" >
				 <% if @income_voucher.payment_detail.payment_mode == 'Cheque'%>
        <thead>
            <tr>
            <th>Cheque number</th>
            <th>Cheque date</th>
            <th>Bank name</th>
            <th>Branch</th>
            </tr>
          </thead> 
          <tbody>  
            <tr>
              <td><%= @income_voucher.payment_detail.account_number %></td>
                <td><%= @income_voucher.payment_detail.payment_date.strftime("%d-%m-%Y")%></td>
                <td><%= @income_voucher.payment_detail.bank_name %></td>
                 <td><%= @income_voucher.payment_detail.branch %></td>
           </tr>
          </tbody>
         <% elsif @income_voucher.payment_detail.payment_mode == 'Card'%>
          <thead>
          <tr>
            <th>Card Number</th>
            <th>Transaction Date</th>
            <th>Transaction Reference</th>
          </tr>
          </thead>  
          <tbody>
            <tr>
              <td><%= @income_voucher.payment_detail.account_number%></td>
              <td><%= @income_voucher.payment_detail.payment_date.strftime("%d-%m-%Y")%></td>
                <td><%= @income_voucher.payment_detail.transaction_reference%></td>
          </tr>
            </tbody>
        <% elsif @income_voucher.payment_detail.payment_mode == 'Internet Banking'%>
           <thead>
          <tr>
             <th>Transaction Date</th>
             <th>Bank name</th>
             <th>Transaction Reference</th>
           </tr>
              </thead>
               <tbody>
            <tr>
              <td><%= @income_voucher.payment_detail.payment_date.strftime("%d-%m-%Y")%></td>
               <td><%= @income_voucher.payment_detail.bank_name %></td>
               <td><%= @income_voucher.payment_detail.transaction_reference%></td>
            </tr>
            </tbody>
            <% end %>
				 </table>
			</div>
			</div>	
				 <div class="row">
		          <%if !@income_voucher.description.blank? %>
		          <div class="col-sm-6">
		            <p>
		              <label for="productcat">Description</label><br/>
		              <%= breaking_word_wrap(@income_voucher.description)%>
		            </p>
		          </div>
		          <% end %>
        </div>
      </div>
    </section>
  </section>
</section>