<div class="modal-dialog" id='prev_data'>
  <div class="modal-content">
  	<div class="modal-header">
  	  <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
  	  <h4 class="modal-title" id="myModalLabel">Search Invoice</h4>
  	</div>
  	<div class="modal-body">
	<form name='form' id='search_form' action='search_invoice' data-remote = true class="m-b-none form-horizontal">
	<div class='block'>
		<input name='from_date'type='text' id='invoice_from_date' value='<%= params[:from_date]%>' style="width: 80px; display:inline;" placeholder='From date' class='form-control'> - <input type='text' name='to_date'id='invoice_to_date' value='<%= params[:to_date] %>' style="width: 80px; display:inline;" placeholder='To date' class='form-control'>
		
		<select name='invoice_amount' id='invoice_amount'style='display:inline; width:20%;' class='form-control'>
					<option value=''>Select range</option>
					<option value=1 <%= "selected='selected'" if params[:invoice_amount].to_i == 1 %> >0 - 5,000</option>
					<option value=2 <%= "selected='selected'" if params[:invoice_amount].to_i == 2 %>>5,000 - 50,000</option>
					<option value=3 <%= "selected='selected'" if params[:invoice_amount].to_i == 3 %>>50,000 - 1,00,000</option>
					<option value=4 <%= "selected='selected'" if params[:invoice_amount].to_i == 4 %>>1,00,000 and above</option>
				</select>
				<%= select_tag("account_id", options_from_collection_for_select(@customer_accounts, :id, :name, params[:account_id]), :class=>'form-control', :style=>'display:inline;width:20%;', :prompt=>'Select customer') %>
		&nbsp;<input type='submit' value='Go' class = "btn btn-info">
	</div>
</form>
<div class="modal-body scroll-y" style='max-height:400px; padding: 10px;'>
<% if @inv_nos.blank? %>
	<%= render :partial => "shared/no_record" %>
<% else %>
 <table class='table table-striped b-t text-small'>
	<thead>
		<tr>
			<th></th>
			<th >Invoice #</th>
			<th >Amount</th>
			<th >Due date</th>
			<th><%= @company.label.customer_label %></th>
	</tr>
	</thead>
	<tbody>
		<% @inv_nos.each do |invoice| %>
			<tr>
				<td><input type='radio' name='invoice' data-amount="<%= invoice.outstanding unless invoice.outstanding.blank? %>" data-customer="<%= invoice.account.name unless invoice.account.blank?%>" value=<%=invoice.invoice_number %>></td>
				<td><%= invoice.invoice_number %></td>
				<td><%= invoice.outstanding %></td>
				<td><%= invoice.due_date %></td>
				<td><%= invoice.account.name %></td>
			</tr>
		<% end %>
	  </tbody>
	  </table>
	<% end %>
		</div>
	</div>
	<div class='modal-footer'>
			  <a class="btn btn-sm btn-success btn-save" data-dismiss="modal">Submit</a>
				<a class="btn btn-sm btn-default invoice-btncan" href='#'>Cancel</a>
		</div>
</div>
</div>