<tr>
    <td><%= link_to ongoing_project.name, ongoing_project %></td>
    <td class="text-center"><%= ongoing_project.start_date.strftime("%d %b %Y") %></td>
    <td class="text-center"><%= format_currency(ongoing_project.estimated_cost) %></td>
    <td class="text-center"><%= ongoing_project.created_by_user %></td>
    <td class="text-center"><span ><%= ongoing_project.get_status%></span></td>
    <td><div class="btn-group" style="float: right;">
      <button class="btn btn-white btn-sm" onclick="location.href='/projects/<%= ongoing_project.id %>'"; >View</button>
      <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a href= <%= edit_project_path(ongoing_project) %>>Edit</a></li>  
        
        <% if @current_user.owner? && !ongoing_project.status == true%>
         <li><a href=<%= "/projects/mark_complete?id=#{ongoing_project.id}"%>>Mark complete</a></li>
         <li class="divider"></li>
       <li><a rel="nofollow" data-method="delete" data-confirm="Are you sure?" href= "/projects/<%= ongoing_project.id %>" >Delete</a></li>
       <% end %>

      </ul>
    </div></td>
</tr>
