<div class="col-lg-12 m-b-mini" align="left">
<table class="table table-striped m-b-none text-small">
   <thead>
     <th>HSN/SAC</th>
     <th>Description</th>
     <th>Unit of measure(uqc)</th>
     <th>Quantity</th>
     <th>Total amount</th>
     <th>Total taxable amount</th>
     <th>IGST</th>
     <th>CGST</th>
     <th>SGST</th>
     <th> ..... </th>
   </thead>
   
   <tbody>
   <% hsn_summary(@invoices).each do |product|%>
   <tr>
   <td><%= product[:hsn_sc] %></td>
   <td><%= text_field_tag"product[:desc]", product[:desc] %>  
   </td>
   <td><%= text_field_tag"product[:uqc]",product[:uqc] %></td>
   <td><%= product[:qty] %></td>
   <td><%= format_currency(product[:val]) %></td>
   <td><%= format_currency(product[:txval]) %></td>
   <td><%= format_currency(product[:iamt]) %></td>
   <td><%= format_currency(product[:camt]) %></td>
   <td><%= format_currency(product[:samt]) %></td>
   <td><%= button_tag"Submit"%></td>
   </tr>
   <% end %>
   </tbody>
   </table>
      </div>    