<h1>Listing email_actions</h1>

<table>
  <tr>
    <th>Action</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @email_actions.each do |email_action| %>
  <tr>
    <td><%= email_action.action %></td>
    <td><%= email_action.description %></td>
    <td><%= link_to 'Show', email_action %></td>
    <td><%= link_to 'Edit', edit_email_action_path(email_action) %></td>
    <td><%= link_to 'Delete', email_action, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email action', new_email_action_path %>
