<!-- Page title -->
<%= render "shared/page_title"%>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
  <!-- Left column/section -->
    <section class="column width6 first "><br />
      <div class="highlight"> 
      
      
      <%= form_for @auditor do |f| %>
		  <%= render 'shared/form_error', :object => @auditor %>
		  <table class="display stylized" id="act_details">
		   <thead>
			  <tr><th colspan="4">Basic info</th></tr>
			</thead>
			 <!--<div id='user_info_div' ><span class='personal_info'>Basic info</span></div>-->
			<tbody>
			  <tr>
				<td>
				  <%= f.label :First_name, :class => "required" %><br />
				  <%= f.text_field :first_name,:autofocus =>"autofocus" %>
				</td>
				<td>
				  <%= f.label :Last_name, :class => "required" %><br />
				  <%= f.text_field :last_name %>
				</td>
			  </tr>
			  <tr>
				<td>
				  <%= label_tag "password","Password", :class => "required" %><br />
				  <%= f.password_field :password %>
				</td>
				<td>
				  <%= f.label :password_confirmation, :class => "required" %><br />
				  <%= f.password_field :password_confirmation %>
				</td>
			  </tr>
			  <tr>
				<td colspan="4">
				  <%= f.submit "Save", :class=> "btn btn-green btn-save" %>&nbsp;
				  <%= link_to " Cancel", @auditor, :class => 'btn btn-cancel' %>
				</td>
			  </tr>
		    </tbody>
		  </table>
		<% end %>
      
      
      </div></br>
    </section>
    <!-- Right column/section -->
	  <aside class="column width2"><br/>
        <a href= <%= auditor_path(@auditor) %> class="btn btn-special btn-green "><img src ="/images/edit.png" alt ="View details" class ="icon" /> View details</a>
	     <!-- <div id="rightmenu">
	         <dl class="first">
	           <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
	            <dd><%= link_to 'Help', "#", :class=>"nyroModal" %></dd>
	             <dd class="last">If you are a new user, you should read "Getting started"</dd>
	         </dl>
	       </div>--><br />
	    </aside>
	   <!-- End of Right column/section -->
    </div>
</div>

