<%= form_for @auditor, :html=>{:class=>"form-horizontal panel-body"} do |f| %>
  <%= render 'shared/form_error', :object => @auditor %>
  <%= hidden_field_tag 'company_id', @invitation_detail.company_id %>
  <%= hidden_field_tag 'invitation_detail_id', @invitation_detail.id %>
  <div class="block">
    <%= f.label :first_name, :class=>"control-label" %>
    <%= f.text_field :first_name, :class=>"form-control" %>
  </div>
  <div class="block">
    <%= f.label :last_name, :class=>"control-label" %>
    <%= f.text_field :last_name, :class=>"form-control" %>
  </div>
  <div class="block">
    <%= label_tag  :email, "Email", :class=>"control-label" %>
    <%= f.text_field :username, :readonly => 'readonly', :class=>"form-control" %>
  </div>
  <div class="block">
    <%= label_tag :password, "Password", :class=>"control-label" %>
    <%= f.password_field :password, :class=>"form-control" %>
  </div>
  <div class="block">
    <%= label_tag :password, "Confirm Password", :class=>"control-label" %>
    <%= f.password_field :password_confirmation, :class=>"form-control" %>
  </div>
    

  <div class="block">

    <%= f.submit 'Register', :class => 'btn btn-success' %>
    <%= link_to 'Decline', "/auditor_login/decline_request?token=#{params[:token]}", :class => 'btn btn-white' unless @invitation_detail.status_id == 2 %>

  </div>
<% end %>
