   <tr class="gradeB">
     <td><a  data-toggle="popover" data-html="true" data-placement="right" 
        data-content="<p>
                      <strong> From Account: </strong> <%= deposit.from_account_name %></p>
                      <p>
                      <strong> To Account: </strong> <%= deposit.to_account_name %>
                      </p>
                      <p>
                      <strong> Amount: </strong> <%= format_currency deposit.amount %>
                      </p>
                      <p>
                         <% if !deposit.description.blank? %>
                          <strong> Description: </strong> 
                          <%= breaking_word_wrap(deposit.description)%>
                          <% end %>
                      </p>
                        <p>
                      <strong> Created by:</strong> <%= User.find(deposit.created_by).full_name %>
                        </p>"
          title="" data-original-title='<button type="button" class="close pull-right" data-dismiss="popover"><i class="icon-remove"></i></button>Transaction Detail'><%= deposit.voucher_number %></a></td>
    <td><%= deposit.transaction_date.strftime("%d-%m-%Y") %></td>
    <td><%= truncate(Account.find(deposit.from_account_id).name, :length =>20) %></td>
    <td><%= truncate(Account.find(deposit.to_account_id).name,:length =>20) %></td>
    <td><%= format_currency deposit.amount %></td>
    <td>
      <div class="btn-group" style="float: right;">
          <button  onclick="location.href= '<%= edit_deposit_path(deposit)%>'"; class="btn btn-white btn-sm" >Edit</button>
          <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li><a rel="nofollow" data-method="delete" data-confirm="Are you sure?" href= "/deposits/<%= deposit.id%>" >Delete</a></li>
          </ul>
      </div>
      </td>	
   </tr>
