  <script>
  $(document).ready(function(){
    '<% 
    @data = []
     for deposit in @deposits
      @data<<deposit.voucher_number
      @data<<deposit.transaction_date
        @data<<deposit.amount
     end
     %>'
    data = '<%= @data.join(',')%>'.split(',');
    $("input#autocomplete").autocomplete({
      source: data
  });
  });
</script>
<!-- Page title -->
<div id ="pagetitle">
  <div class ="wrapper" >
    <h1>Banking &rarr;<span>Deposit Cash History</span></h1>
    <%= form_for @search, :method => "get", :action=>"/deposits/deleted_deposit" do |f| %>
    <%=f.text_field :voucher_number_or_transaction_date_or_amount_equals, :id => "autocomplete", :placeholder=>"search"%>
    <%end%>
  </div>
</div>
<!-- End of Page title -->

 <!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
	<!-- Left column/section -->
       <section class="column width6 first"></br>
       <div class="highlight">
       	<%= render "shared/flash_msg"%>   
        <div id="tab2">
                <ul id="tabnav">
                    <li class="tab1">
                        <a href="/deposits">All</a>
                    </li>
                    <li class="tab2">
                        <a href="/deposits/deleted_deposit">Deleted</a>
                    </li>
                </ul>
            </div> 
           <div id = "task_container">
           <div id="tabs-all">
               <div class="colgroup">
                   <div class="width3 column first"> </div>
               </div>
               <div class="clearfix"></div>
               
			   <div id="debitnote_index">
               <% if @deposits.blank? %>
                  <p class="no-deposite_cash"><%= render :partial => "shared/no_record" %></p>
               <% else %>
   				 <table class="display stylized" id="example">
					  <thead>   
					       <%= render :partial => "header" %>
					  </thead>
					  <tbody>
                           <%= render :partial => "deleted_deposit", :collection => @deposits%>
					  </tbody>
					  <tfoot>
						   <%= render :partial => "footer" %>
					  </tfoot>
				 </table>
				 <div class="clear">
          	      <div class="width3 column">
                      <%= paginate @deposits %>
                  </div>
                </div> 		
               <% end %>
               </div>
            </div>
           </div>
            </div></br>
       </section>
      <!-- End of Left column/section -->
      <!-- Right column/section -->
       <aside class="column width2"><br />
       	<a href="/deposits/new" class="btn btn-special btn-green btn-green-new">&nbsp; New deposit</a>
            <div id="rightmenu">
                  <dl class="first">
                       <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
                       <dd><%= link_to 'Help', "/helps/9", :class=>"nyroModal" %></dd> 
                       <dd class="last">If you are a new user, you should read "Getting started"</dd>
                  </dl>
            </div><br />
       </aside>
      <!-- End of Right column/section -->
   </div>
  <!-- End of Wrapper -->
</div>
