<section id="content">
  <section class="main padder">
    <!-- Page title -->
    <div class='row'>
      <div class='col-lg-4'>
        <!-- Page name -->
        <h2><i class="icon-file-text-alt text"></i>View Stock Transfer</h2>
      </div>
        <div class="col-lg-8 m-t-large" align="right">
          <%= link_to raw('<i class="icon-plus"> </i> Add New Record'), new_stock_transfer_voucher_path, :class => 'btn btn-success btn-lg' %>
          <% unless @stock_transfer_voucher.in_frozen_year? %>
            <div class="btn-group">
              <%= link_to raw('<i class="icon-edit"> </i> Edit'), edit_stock_transfer_voucher_path(@stock_transfer_voucher), :class => 'btn btn-info btn-lg' %>
              <button class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span><i></i>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to raw('<i class="icon-trash"> </i>Delete this voucher'), stock_transfer_voucher_path(@stock_transfer_voucher), :method => "delete", :confirm => "Are you sure?" %></li>
              </ul>
            </div>
          <% end %>
          <%= link_to_pdf params %>
          <%= link_to raw('<i class="icon-mail-reply"> </i>'), stock_transfer_vouchers_path, :class => 'btn btn-default btn-lg' %>
        </div>
    </div>
    <!-- Pger title end -->
    <p></p>

    <section class='panel'>
      <div class="panel-body">
        <%= render :partial => "shared/flash_msg"%>
        <!-- voucher details  -->
        <div class='row'>
          <div class='col-sm-5'>
            <h4>Stock Transfer Voucher </h4>
          </div>
          <div class='col-sm-7'>
            <!-- Right details -->
            <section class="panel">
              <div class="panel-body">
                <p><strong>Voucher Number:</strong><%=@stock_transfer_voucher.voucher_number %></p>
                <p><strong>Voucher Date :</strong><%= @stock_transfer_voucher.voucher_date %></p>
                <p><strong><%= @company.label.warehouse_label%>: </strong><%= @stock_transfer_voucher.warehouse.name %></p>
              </div>
              <footer class="panel-footer">
                <div class="row">
                  <div class="col-sm-6">
                    <i class="icon-calendar"> </i>Created on <%=@stock_transfer_voucher.created_at.strftime("%d-%m-%Y") %> by <%= @stock_transfer_voucher.created_by_user %>
                  </div>
                </div>
              </footer>
            </section>  
            <!-- end left detals -->
          </div>
        </div>
        <!-- voucher details end -->

        <div class='row'>
          <div class='col-lg-12'>
            <!-- Line item details -->
            <table  class="table table-striped b-t text-small">
              <thead>
                <tr>
                  <th width="33.33%">Product</th>
                  <th width="33.33%">Transfer Qty</th>
                  <th width="33.33%">Destination <%= @company.label.warehouse_label%></th>
                </tr>
              </thead>
              <tbody>
                <%= render :partial =>"stock_transfer_line_item_details", :collection => @stock_transfer_voucher.stock_transfer_line_items %>
              </tbody>
            </table>
          </div>
        </div>
        <% if !@stock_transfer_voucher.details.blank? %>
          <div class='row'>
            <div class="col-lg-6">
              <label>Details:</label>
              <%= @stock_transfer_voucher.details %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </section>
</section>