
              <table>
              <thead>
                <tr>
                  <th><label>Full name</label></th>
                  <th><label>Username</label></th>
                  <th><label>Email</label></th>
                  <th><label>Contact #</label></th>
                  <th><label>Company name</label></th>
                  <th><label>Signup Date</label></th>
                  <th><label>Plan</label></th>
                  <th><label>Paid/Unpaid</label></th>
                </tr>
              </thead>
              <tbody>
                 <% for user in @xls_users %>
                 <tr>
                   <td><%= user.first_name %> <%= user.last_name %></td>
                   <td><%= user.username %></td>
                   <td><%= user.email %></td>
                   <td><%= user.company.phone %></td>
                   <td><%= user.company.name %></td>
                   <td><%= user.created_at.to_date %></td>
                   <td><%= user.company.plan.display_name %></td>
                   <td><%= user.company.subscription.status %></td>
                 <tr>
                 <% end %>
              </tbody>
              <tfoot>
                  <tr><td colspan = 9></td></tr>
              </tfoot>
            </table>
         

