<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-6">
        <h2><i class="icon-file-text-alt text"></i> Allocate Receipts - <%= @receipt_advance.voucher_number %></h2>
      </div>
      <div class="col-lg-6 m-t-large" align="right">
        <%= link_to raw('<i class="icon-mail-reply"> </i>'), gstr_advance_receipts_path, :class => 'btn btn-default btn-lg',:title=>"Back" %>
        <p></p>
      </div>  
    </div>
    <section class="panel">
    	<%= render :partial => 'receipt_vouchers/auto_calculate' %>
      <%= render :partial => "shared/flash_msg" %>
      <div class="panel-body">
        	<%= form_for @receipt_advance, :html=>{:class => "form-horizontal"} do |f| %>
        		<%= hidden_field_tag "back_action", params[:back_action].blank? ? @current_action : params[:back_action] %>
        		
        		
        		<div class='form-group'>
        			<div class='col-lg-2 text-right'>
      					<%= label_tag "Money Received From" %>
        			</div>
        			<div class='col-lg-2'>
        				<%= @receipt_advance.from_account_name %>			
        			</div>
        		</div>
  		  		<div class='form-group'>
  		  			<div class='col-lg-2 text-right'>
  							<%= label_tag "Unallocated Amount" %>
  		  			</div>
  		  			<div class='col-lg-2'>
			    			<%= @receipt_advance.amount %>	
  		  			</div>
  		  		</div>
  		  	
            
            <div class="line line-dashed m-t-large"></div>
  		  		<div class='form-group'>
			  		  <div class="col-lg-12">
			  		    <h4>Showing unpaid invoiced for the selected customer:</h4>
			  		  </div>
			  		  <div class="col-lg-12" id='invoiceDetails'>
		  		      <%= render "receipt_vouchers/unpaid_to_be_allocate_invoices" %>
			  		  </div>
			  		</div>
  		  		<div class="form-group">
  		  		  <div class="col-lg-9 col-lg-offset-3">                      
  		  		    <button type="submit" class="btn btn-success">Save</button>
  		  		    <%= link_to 'Cancel', receipt_vouchers_path, :class => "btn btn-default" %>
  		  		  </div>
  		  		</div>
        	<% end %>
      </div>
    </section>
  </section>
</section>