 <table class="table table-striped b-t text-small">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan=6 align="center">
<h3>Debtor Aging Report From: <%= @start_date%> To <%=@end_date%>
</h3>
</td></tr>
<tr><td colspan=6 align=center>As on: 
<%= (params[:end_date].blank?) ? ( Time.zone.now.to_date) : params[:end_date].to_date %> </td></tr>

                <thead>
                  <tr>
                    <th class="text-left" width="7%" >Sr. No.</th>
                    <th class="text-center" width="300" colspan="2">Customer Name</th>
                    <th colspan="2" class="text-center">Invoice No.</th>
                    <th class="text-center" width="15%">Invoice Date</th>
                    <th class="text-right" width="15%" colspan="2">Outstatnding Amount(<%=(@company.currency_code)%>)</th>
                    <th colspan=2 class="text-center">1-30 days</th>
                    <th colspan=2 class="text-center">31-60 days</th>
                    <th colspan=2 class="text-center">61-90 days</th>
                    <th colspan=2 class="text-center">91-180 days</th>
                    <th colspan=2 class="text-center">More than 181 days</th>
                  </tr>             
              </thead>
              <tbody>
              <% count = 0 %> <% count30 = 0%> <% count60 = 0%> <% count90 = 0%> <% count180 = 0%> <% count181 = 0%> <%total_outstanding =0%> <%total_outstanding30 =0%> <%total_outstanding60 =0%><%total_outstanding90 =0%> <%total_outstanding180 =0%> <%total_outstanding181 =0%><%precentage=0%><%precentage1=0%><%precentage2=0%><%precentage3=0%><%precentage4=0%>
                <% @invoice.each do |invoice|%>
                    <% outstanding_days = (Time.zone.now.to_date - invoice.invoice_date) %>
                    <tr>
                    <td align="center" ><%= count +=1%></td>
                    <td colspan="2"><%=invoice.customer_name %></td>
                    <td align="center" colspan="2"><%=invoice.invoice_number%></td>
                    <td align="center"><%=invoice.invoice_date%></td>
                    <td colspan="2" align="right"><%= format_currency invoice.outstanding %></td>
                     <% total_outstanding +=invoice.outstanding %> 
                    <%if outstanding_days <=30  %>
                    <td colspan="2" align="right"><%= format_currency invoice.outstanding %></td>
                    <%total_outstanding30 += invoice.outstanding%>
                    <% count30 +=1%>
                    <% else %>
                    <td colspan="2" ></td>
                    <% end %>

                   <%if outstanding_days >30 && outstanding_days <= 60 %>
                    <td colspan="2" align="right"><%= format_currency invoice.outstanding %></td>
                    <%total_outstanding60 += invoice.outstanding%>
                    <% count60 +=1%>
                    <% else %>
                    <td colspan="2"></td>
                    <% end %>

                   <%if outstanding_days >60 && outstanding_days <= 90 %>
                    <td colspan="2" align="right"><%= format_currency invoice.outstanding %></td>
                    <%total_outstanding90 += invoice.outstanding%>
                    <% count90 +=1%>
                     <% else %>
                    <td colspan="2" ></td>
                    <% end %>

                    <%if outstanding_days >90 && outstanding_days <= 180 %>
                    <td colspan="2" align="right"><%= format_currency invoice.outstanding %></td>
                    <%total_outstanding180 += invoice.outstanding%>
                    <% count180 +=1%>
                    <% else %>
                    <td colspan="2" ></td>
                    <% end %>

                    <%if outstanding_days >180 %>
                    <td colspan="2" align="right"><%= format_currency invoice.outstanding %></td>
                    <%total_outstanding181 += invoice.outstanding%>
                    <% count181 +=1%>
                    <% else %>
                    <td colspan="2" ></td>
                     <% end %>
                      </tr>
                 <% end %>
               <tr class="blank_row">
                  <td colspan="18"></td>
              </tr>
                   <tr>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td colspan="2">Total No. of Invoices </td>
                     <td colspan="2" align="right"><%=count%></td>
                     <td colspan="2" align="right"><%=count30%></td>
                     <td colspan="2" align="right"><%=count60%></td>
                     <td colspan="2" align="right"><%=count90%></td>
                     <td colspan="2" align="right"><%=count180%></td>
                     <td colspan="2" align="right"><%=count181%></td>
                   </tr>
                   <tr style="font-weight:bold">
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td colspan="2"> Total Amount</td>
                     <td colspan="2" align="right"><%=total_outstanding%></td>
                     <td colspan="2" align="right"><%=total_outstanding30%></td>
                     <td colspan="2" align="right"><%=total_outstanding60%></td>
                     <td colspan="2" align="right"><%=total_outstanding90%></td>
                     <td colspan="2" align="right"><%=total_outstanding180%></td>
                     <td colspan="2" align="right"><%=total_outstanding181%></td>
                    </tr>
                     <tr style="font-weight:bold">
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <%percentage = (total_outstanding30/total_outstanding)*100%>
                     <%percentage1 = (total_outstanding60/total_outstanding)*100%>
                     <%percentage2 = (total_outstanding90/total_outstanding)*100%>
                     <%percentage3 = (total_outstanding180/total_outstanding)*100%>
                     <%percentage4 = (total_outstanding181/total_outstanding)*100%>
                     <td colspan="2">Percentage</td>
                     <td colspan="4",align="right"><%= "#{number_with_precision(percentage, :precision=>2)}%" %></td>
                     <td colspan="2" align="right"><%="#{number_with_precision(percentage1, :precision=>2)}%"%></td>
                     <td colspan="2" align="right"><%="#{number_with_precision(percentage2, :precision=>2)}%"%></td>
                     <td colspan="2" align="right"><%="#{number_with_precision(percentage3, :precision=>2)}%"%></td>
                     <td colspan="2" align="right"><%="#{number_with_precision(percentage4, :precision=>2)}%"%></td>
                     </tr>
              </tbody>
              
</table>