<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Facebook sharing information tags -->
<meta property="og:title" content="*|MC:SUBJECT|*">

<title>*|MC:SUBJECT|*</title>
</head>
<body>
<div class="bodycontainer">
<div class="maincontent">
<table width=100% cellpadding=0 cellspacing=0 border=0 class="message">
<tr>
<td colspan=2>
<table width=100% cellpadding=12 cellspacing=0 border=0>
<tr>
<td>
<div style="overflow: hidden;">
<font size=-1>
<u></u>
<div style="margin:0;padding:0">
<div style="background-color:#fff!important">
<br>
<br>
<table width="600" align="center" cellpadding="0" cellspacing="0">
<tr>
   <td>
      <table width="600" cellpadding="0" cellspacing="0">
         <tr>
            <td width="4" height="5">
               
            </td>
            <td width="592" style="border-top:1px solid #ccc;font-size:1px;line-height:1px"> </td>
            <td width="4">
               
            </td>
         </tr>
      </table>
   </td>
</tr>
<tr>
   <td style="border-left:1px solid #ccc;border-right:1px solid #ccc">
      <table width="598" cellpadding="0" cellspacing="0">
         <tr>
            <td style="padding:15px 0 20px 20px">
               <a href="http://profitbooks.net" target="_blank"><img align="left" alt="" src="http://gallery.mailchimp.com/5227907b4a4a05cfaddef0749/images/ProfitBooks_new_Logo.png" width="175" style="max-width:175px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;line-height:100%;outline:none;text-decoration:none;min-height:auto!important">
</a>
            </td>
            <td style="padding:0 20px 20px 0;text-align:right;vertical-align:bottom">
               <table align="right" cellpadding="0" cellspacing="0" >
                  <tr>
                     <td height="28" style="padding-left:10px;padding-right:10px" valign="middle">
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <table width="598" cellpadding="0" cellspacing="0" style="background-color:#0383dd">
         <tr>
            <td height="5" style="font-size:1px;line-height:1px"> </td>
         </tr>
      </table>
      <table width="598" cellpadding="0" cellspacing="0">
         <tr>
            <td style="padding-right:20px;padding-left:20px;line-height:20px;font-size:14px;font-family:Arial,Helvetica,sans-serif">
               <br>
               <h1 style="font-family:Arial,Helvetica,sans-serif;font-size:20px;color:#000!important;line-height:20px;padding-bottom:5px;margin:0">Daily Report</h1>
               
               <table cellpadding="0" cellspacing="0">
                  <tr>
                     <td width="270" valign="top">
                        <table width="270" cellpadding="0" cellspacing="0" style="background-color:#dceeff">
                           <tr>
                              <td height="5">

</td>
                           </tr>
                           <tr>
                              <td>
                                 <table width="270" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td style="font-size:20px;border-bottom:1px solid #bad8f0;font-family:Arial,Helvetica,sans-serif;padding:5px 10px 8px">Total Registrations</td>
                                    </tr>
                                 </table>
                                 <table width="270" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td style="line-height:22px;font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:8px 10px 4px;border-top:1px solid #f3faff;background-color:#ffffff">
                                          <%= @total_registrations%> Registrations 
                                          <span style="font-size:12px"></span><br>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              
                           </tr>
                        </table>
                     </td>
                     <td width="20">
                     </td>
                     <td width="270" valign="top">
                        <table width="270" cellpadding="0" cellspacing="0" style="background-color:#dceeff">
                           <tr>
                              <td height="5">

</td>
                           </tr>
                           <tr>
                              <td>
                                 <table width="270" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td style="font-size:20px;border-bottom:1px solid #bad8f0;font-family:Arial,Helvetica,sans-serif;padding:5px 10px 8px"> Total Paid</td>
                                    </tr>
                                 </table>
                                 <table width="270" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td style="line-height:22px;font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:8px 10px 4px;border-top:1px solid #f3faff;background-color:#ffffff">
                                          <%= @total_paid%> Paid
                                          <span style="font-size:12px"></span><br>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
               <br>
               <br>

<table cellpadding="0" cellspacing="0">
                  <tr>
                     <td width="270" valign="top">
                        <table width="270" cellpadding="0" cellspacing="0" style="background-color:#dceeff">
                           <tr>
                              
                           </tr>
                           <tr>
                              <td>
                                 <table width="270" cellpadding="0" cellspacing="0">
                                    <tr>
                                       
                                    </tr>
                                 </table>

                              </td>
                           </tr>
                           <tr>
                              
                           </tr>
                        </table>
                     </td>
                     <td width="20">
                     </td>
                     <td width="270" valign="top">
                        <table width="270" cellpadding="0" cellspacing="0" style="background-color:#dceeff">
                           <tr>
                              
                           </tr>
                           <tr>
                             <td>
                                 

                              </td>
                           </tr>
                           <tr>
                              
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>

<br/>
<br/>

<table cellpadding="0" cellspacing="0">
                  <tr>
                     <td width="270" valign="top">
                        <table width="270" cellpadding="0" cellspacing="0" style="background-color:#dceeff">
                           <tr>
                              <td height="5">

</td>
                           </tr>
                           <tr>
                              <td>
                                 <table width="270" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td style="font-size:20px;border-bottom:1px solid #bad8f0;font-family:Arial,Helvetica,sans-serif;padding:5px 10px 8px">Total Demo<span style="font-size:14px"></span></td>
                                    </tr>
                                 </table>
                                 <table width="270" cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td style="line-height:22px;font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:8px 10px 4px;border-top:1px solid #f3faff;background-color:#ffffff">
                                          <%= @lead_demo%> Lead Demo
                                          <span style="font-size:12px"></span><br>
                                       </td>
                                       <tr>
                                       <tr>
                                       <td style="line-height:22px;font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:8px 10px 4px;border-top:1px solid #f3faff;background-color:#ffffff">
                                          <%= @trial_demo_online%> Trial Online Demo
                                          <span style="font-size:12px"></span><br>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="line-height:22px;font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:8px 10px 4px;border-top:1px solid #f3faff;background-color:#ffffff">
                                          <%= @trial_demo_presonal_visit%> Trial Demo Personal Visit
                                          <span style="font-size:12px"></span><br>
                                       </td>
                                    </tr>
                                 </table>
                                 


                              </td>
                           </tr>
                           <tr>
                              
                           </tr>
                        </table>
                     </td>
                     <td width="20">
                     </td>
                     <td width="270" valign="top">
                        <table width="270" cellpadding="0" cellspacing="0" style="background-color:#dceeff">
                           <tr>
                              <td height="5">

</td>
                           </tr>
                           <tr>
                              <td>
                                 <table width="270" cellpadding="0" cellspacing="0" >
                                    <tr>
                                       <td style="font-size:20px;border-bottom:1px solid #bad8f0;font-family:Arial,Helvetica,sans-serif;padding:5px 10px 8px"> Total Activities<span style="font-size:14px"></span></td>
                                    </tr>
                                    <tr>
                                       <td style="line-height:22px;font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:8px 10px 4px;border-top:1px solid #f3faff;background-color:#ffffff">
                                          <%= @total_lead_activities%> Total Lead Activities
                                          <span style="font-size:12px"></span><br>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="line-height:22px;font-size:14px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;padding:8px 10px 4px;border-top:1px solid #f3faff;background-color:#ffffff">
                                          <%= @total_customer_relationships_activities%> Total Activities For Registerd Companies
                                          <span style="font-size:12px"></span><br>
                                       </td>
                                    </tr>
                                 </table>
                                 
                              </td>
                           </tr>
                           <tr>
                              
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
         
<br/><br/>

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
<tbody>
<tr>
<td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;border-collapse:collapse" valign="top" align="center">
<table border="0" cellpadding="0" cellspacing="0" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background-color:#78c234;border-collapse:collapse">
<tbody>
<tr>

</tr>
</tbody>
</table>
</td>
         </tr>
      </table>
   </td>
</tr>
<tr>
   <td>
      <table width="600" cellpadding="0" cellspacing="0">
         <tr>
            <td width="4">

</td>
            <td width="592" style="border-bottom:1px solid #ccc;font-size:1px;line-height:1px"> </td>
            <td width="4">

</td>
         </tr>
      </table>
   </td>
</tr>
</table>

</div>
</div>
</font>
</div>
</table>
</table>
</div>
</div>
</body>
</html>