<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		This mail is intended for the purpose of creating an account in CashFree for registered ProfitBooks accounts. The details are as follows :-
		<br />
		<p>
			<b>Name:</b> "<%= @file.name  %>"
			<br>
			<b>Pan Number:</b> "<%= @file.pan  %>"
			<br>
			<b>Company Name:</b> "<%= @company.name  %>"
			<br>
			<b>Email:</b> "<%= @company.email %>"
			<br>
			<b>Contact Number:</b> "<%= @company.phone %>"
			<br>
		</p>
		<p>
			The copy of following documents are attached for the perusal.
			<br>
			<b> Pan Card</b>
			<br>
			<b>Letter of Incorporation</b> 
			<br>
			<b>Cancelled Cheque</b>
			<br>
		</p>
		<p>
		</p>
	</body>
</html>
