<%= form_for @support, :url => ([:admin, @support]) do |f| %>
  <%= render 'shared/form_error', :object => @support %>
  <div class="column width6 first">
  <table class="display stylized" id="act_details">
    <div id='user_info_div'><span class='basic_info'>Ticket Number : <%= @support.ticket_number%> <%= f.hidden_field :ticket_number %></span></div>
   <tbody>
     <tr>
       <td><%= f.label 'Message To' %></td>
       <td><%=f.text_field :assigned_to, :class => "half" %></td>
     </tr>
     <tr>
       <td><%= f.label :subject, :class => 'required' %></td>
       <td>
        <%= @support.subject %> 
       <%= f.hidden_field :subject %>
       </td>
     </tr>
     <tr>
	<td><%= f.label 'Message' %></td>
	<td><%= @support.description %><%= f.hidden_field :description %></td>
     </tr>
      <tr>
	<td><%= f.label 'Resolution' %></td>
	<td><%= f.text_area :resolution_description, :class => 'medium half' %>
     </tr>
   </tbody>
   <tfoot>
	<tr>
	   <td colspan="2"><%= f.submit 'Send', :class => "btn btn-green"%></td>
  	</tr>
   </tfoot>
  </table>
 </div>
<% end %>
