<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <div class="panel-body">
        <%= form_for(@stock_wastage_voucher, :html=>{:class=>'form-horizontal'}) do |f| %>
          <%= render 'shared/form_error' , :object => @stock_wastage_voucher %>
          <div class='form-group'>
            <div class='col-lg-3'>
              <% if @stock_wastage_voucher.voucher_setting.custom_sequence? %>
                <%= f.label :voucher_number, :class=>'control-label-required' %>
                <%= f.text_field :voucher_number, :class=>"form-control bg-focus" %>
              <% else %>
                <%= f.label :voucher_number, :class=>'control-label' %> : <%= @stock_wastage_voucher.voucher_number %>
                <%= f.hidden_field :voucher_number %>
              <% end %>
            </div>
            <div class='col-lg-1'></div>
            <div class='col-lg-3'>
              <%= f.label :voucher_date, :class=>'control-label-required' %>
              <%= f.text_field :voucher_date, :class=>'form-control bg-focus' %>
            </div>
            <div class='col-lg-1'></div>
            <div class='col-lg-3'>
              <%= f.label :warehouse_id , "#{@company.label.warehouse_label}", :class =>"control-label-required" %>
              <div class="input-group">
                <%= select_tag("stock_wastage_voucher[warehouse_id]", options_from_collection_for_select(@company.warehouses, :id, :name, :selected => @stock_wastage_voucher.warehouse_id), :style=>'width:220px;')%>
              </div>
            </div>
          </div>
          <%= render :partial=>"stock_wastage_vouchers/custom_field" , :locals =>{:f=> f}%>
          <div class='form-group'>
            <div class='col-lg-12'>
              <table  class="table table-striped b-t text-small wastage-line" id="line_items">
                <thead>
                  <tr>
                    <th width='60%'><label class="control-label-required">Product</label></th>
                    <th>Remark</th>
                    <th class="text-right" width='12%'><label class="control-label-required">Quantity</label></th>
                    <th class="text-right" width='5%'>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @stock_wastage_voucher.stock_wastage_line_items.each_with_index do |stock_line_item, index| %>
                     <%= render "stock_wastage_vouchers/stock_wastage_line_items", :stock_wastage_line_item => stock_line_item, :index => index %>
                  <% end %>
                  <tr id="wastage_row_link" valign="top">
                    <td valign="top" colspan="4"> <%= link_to " + Add New Row", {:controller=>:stock_wastage_vouchers, :action => :add_row, :index => @stock_wastage_voucher.stock_wastage_line_items.size }, :remote => true, :class => "btn btn-white btn-sm" %> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <div class='col-lg-6'>
              <%= f.label :description, :class=>'control-label' %>
              <%= f.text_area :description, :rows => 5, :cols=> 70, :class=>'form-control bg-focus' %>
            </div>
          </div>
          <div class='form-group'>
            <div class="col-lg-8 col-lg-offset-4">
              <%= f.submit :value => 'Save', :class=>"btn btn-success" %>&nbsp;
              <%= link_to "Cancel", stock_wastage_vouchers_path, :class => "btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript">
  $("#stock_wastage_voucher_warehouse_id").select2();
</script>