<tr>
  <td><%= link_to stock_wastage_voucher.voucher_number, stock_wastage_voucher %></td>
  <td><%= stock_wastage_voucher.warehouse.name %></td>
  <td><%= stock_wastage_voucher.voucher_date.to_date %></td>
  <td><%= stock_wastage_voucher.created_by_user %></td>
  <td>
    <div class="btn-group" style="float: right;">
    <button class="btn btn-white btn-sm" onclick="location.href='/stock_wastage_vouchers/<%= stock_wastage_voucher.id %>'"; >View</button>
    <button class="btn btn-white dropdown-toggle btn-sm" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="<%= edit_stock_wastage_voucher_path(stock_wastage_voucher) %>">Edit</a></li>
      <li class="divider"></li>
      <li><a rel="nofollow" data-method="delete" data-confirm="Are you sure?" href= "/stock_wastage_vouchers/<%= stock_wastage_voucher.id%>" >Delete</a></li>
       
    </ul>
  </div>
</td>
</tr>
