  <script>
	$(document).ready(function(){
		'<% 
  	@data = []
  	 for expense in @expenses
  	 	@data<<expense.voucher_number
  	 	@data<<expense.expense_date
  	 	@data<<expense.created_by
  	 end
  	 %>'
  	data = '<%= @data.join(',')%>'.split(',');
    $("input#autocomplete").autocomplete({
    	source: data
	});
	});
</script>
 <!-- Page title -->
  <div id ="pagetitle">
	<div class ="wrapper" >
		<h1>Expenses &rarr;<span>Deleted Expenses List</span></h1>
		<%= form_for @search, :method => "get", :action=>"/expenses/deleted_expense" do |f| %>
    <%=f.text_field :voucher_number_or_expense_date_equals, :id => "autocomplete", :placeholder =>"search" %>
    <%end%>
	</div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first"><br />
    	<div class="highlight">
             <%= render "shared/flash_msg" %>
       <div id="tab2">
                <ul id="tabnav">
                    <li class="tab1">
                        <a href="/expenses">All</a>
                    </li>
                    <li class="tab2">
                        <a href="/expenses/deleted_expense">Deleted</a>
                    </li>
                </ul>
            </div> 
        <div class="clearfix"></div>
           <div id = "task_container">
      
        <div id="tabs-all">
          <div class="colgroup">
            <div class="width3 column first"> </div>
          </div>
          <div class="clearfix"></div>
          <% if @expenses.blank? %>
                <p class="no-withdraw_cash"><%= render :partial => "shared/no_record" %></p>
           <% else %>
          <table class="display stylized" id="example">
            <thead>
              <%= render :partial => "header" %>
            </thead>
            <tbody>
                <%= render :partial => "deleted_expense", :collection => @expenses %>
            </tbody>
            <tfoot>
               <%= render :partial => "footer" %>
            </tfoot>
          </table>
          <div class="clear">
          	 <div class="width3 column">
               <%= paginate @expenses %>
             </div>
          </div>
          <% end %>
          </div>
        </div>
      </div><br />
    </section>
    <!-- End of Left column/section -->
  </div>
  <!-- Right column/section -->
  <aside class="column width2"><br />
    <%= new_button 'New expense entry', new_expense_path %>
    <div id="rightmenu">
            <dl class="first">
					<dt><%= help_icon %>
					</dt>
					<dd>
						<dd><a href="#">Help</a></dd>
					</dd>
					<dd class="last">
					This page displays the list of expenses.<br/>Click on the voucher number to view more details.<br/><br/>
					</dd>
				</dl>
    </div><br />
  </aside>
  <!-- End of Right column/section -->
</div>
<!-- End of Wrapper -->
</div>
<!-- End of Page content -->
