   <script>
	$(document).ready(function(){
		'<% 
  	@data = []
  	 for gst_credit_note in @gst_credit_notes
  	 	@data<<gst_credit_note.gst_credit_note_number
  	 	@data<<gst_credit_note.gst_gst_credit_note_date
  	    @data<<gst_credit_note.amount
  	 end
  	 %>'
  	data = '<%= @data.join(',')%>'.split(',');
    $("input#autocomplete").autocomplete({
    	source: data
	});
	});
</script>
<!-- Page title -->
  <div id = "pagetitle">
 	<div class = "wrapper">
 		<h1>Journal &rarr;<span>Deleted Credit Note</span></h1>
 		<%= form_for @search, :method => "get", :action=>"/gst_credit_notes/deleted_gst_credit_note" do |f|%>
 		<%=f.text_field :gst_credit_note_number_or_gst_gst_credit_note_date_or_amount_equals, :id => "autocomplete" , :placeholder=>"search"%>
 		<%end%>
    </div>
</div>
<!-- End of Page title -->


 <!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
  <!-- Left column/section -->
       <section class="column width6 first"></br>
       	<div class="highlight">
           <%= render "shared/flash_msg" %>
           <div id="tab2">
                <ul id="tabnav">
                    <li class="tab1">
                        <a href="/gst_credit_notes">All</a>
                    </li>
                    <li class="tab2">
                        <a href="/gst_credit_notes/deleted_gst_credit_note">Deleted</a>
                    </li>
                </ul>
            </div> 
           <div id = "task_container"> 
           <div id="tabs-all">
               <div class="colgroup">
                   <div class="width3 column first"> </div>
               </div>
               <div class="clearfix"></div>
               
              <div id="debitnote_index">
               <% if @gst_credit_notes.blank? %>
                  <p class="no-deposite_cash"><%= render :partial => "shared/no_record" %></p>
               <% else %>
               
                <table class="display stylized" id="example">
                  <thead>   
                    <%= render :partial => "header" %>
                  </thead>
                  <tbody>
                    <%= render :partial => "deleted_gst_credit_note", :collection => @gst_credit_notes%>
                  </tbody>
                  <tfoot>
                    <%= render :partial => "footer" %>
                  </tfoot>
                </table>    
                      <%= paginate @gst_credit_notes %>
                <div class="clear">
&nbsp;                </div> 
               <% end %>
          </div>
           </div></div>
          </div><br />
          
       </section>
      <!-- End of Left column/section -->
      <!-- Right column/section -->
       <aside class="column width2"><br>
     
         	<a href="/gst_credit_notes/new" class="btn btn-special btn-green btn-green-new"><img alt="" SRC="/images/add.png" class ="icon"> Add new credit note</a>
            <div id="rightmenu">
                  <dl class="first">
                       <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
                       <dd><a href="3">Help</a></dd>
                       <dd class="last">This page displays the list of credit note entries. <br/>Click on transaction date to view more details.<br/></dd>
                  </dl>
            </div><br />
       </aside>
      <!-- End of Right column/section -->
   </div>
  <!-- End of Wrapper -->
</div>
