
<%= form_for(@warehouse, :html=>{:class=>'form-horizontal', :remote=>true}) do |f| %>
  <div class='errorPlace'></div>
  <div class='form-group'>
    <div class='col-lg-1'></div>
    <div class='col-lg-5'>
      <%= f.label :name, :class=>"control-label-required" %>
      <%= f.text_field :name,:class=>"form-control bg-focus" %>
    </div>
    <div class='col-lg-5'>
      <%= f.label :manager_id, :class=>'control-label' %>
      <%= select_tag("warehouse[manager_id]", options_from_collection_for_select(@company.users, :id, :full_name, :selected => @warehouse.manager_id), :class=>'form-control bg-focus')%>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-lg-1'></div>
    <div class='col-lg-5'>
      <%= label_tag 'city', "Location", :class=>'control-label' %>
      <%= f.text_field :city, :class=>'form-control bg-focus' %>
    </div>
    <div class='col-lg-5'>
      <%= f.label :phone, :class=>'control-label' %>
      <%= f.text_field :phone, :onkeydown => "return numbersOnly(event);", :maxlength => 14, :class => "form-control bg-focus" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-8 col-lg-offset-4">
      <div class='save-btn'></div>
      <%= f.submit "Save", :class => "btn btn-success btnsave", :"data-loading-text"=>"Saving..." %> &nbsp; 
    </div>
  </div>
<% end %>