<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-4">
        <h2><i class="icon-file text"></i>Sales Orders</h2>
      </div>

      <div class="col-lg-8 m-t-large" align="right">
       <%= link_to raw('<i class="icon-plus"></i> New Sales Order'), "sales_orders/new", :class =>'btn btn-success btn-lg' %>
        <!--<%= link_to raw('<i class="icon-mail-reply"> </i>'), products_path, :class => 'btn btn-default btn-lg', :title=>"Back" %>-->
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
        <% if @company.sales_orders.blank? %>
        <%= render :partial=>"so_help" %>
        <% else %>
            <header class="panel-heading text-right">
              <ul class="nav nav-tabs pull-left">
                <li class='active'>
                  <a data-toggle="tab" href="#slord"><i class="icon-list icon-large"></i>Sales Orders</a>
                </li>
                <li class=''>
                  <a data-toggle="tab" href="#exeslord"><i class="icon-ok icon-large"></i>Executed</a>
                </li>
                <li class=''>
                  <a data-toggle="tab" href="#drfslord"><i class="icon-file-text-alt icon-large"></i>Draft</a>
                </li>
                <li class=''>
                  <a data-toggle="tab" href="#cncslord"><i class="icon-remove icon-large"></i>Cancelled</a>
                </li>
              </ul>
            </header>
          
          <div class="panel-body">
            <div class="tab-content">
              <%= render :partial => "shared/flash_msg"%>
              <div id='slord' class='tab-pane fade active in'>
                <%= render :partial => "sales_orders/sales_order"%>
              </div>
                <div id='exeslord' class='tab-pane fade'>
                  <%= render :partial => "sales_orders/executed_order"%>
                </div>
                <div id='drfslord' class='tab-pane fade'>
                  <%= render :partial => "sales_orders/draft_order"%>
                </div>
                <div id='cncslord' class='tab-pane fade'>
                  <%= render :partial => "sales_orders/cancelled_order"%>
                </div>
            </div>
          </div>
          <% end %>
        </section>
      </div>
    </div>
  </section>
</section>
