<div class="col-lg-6">
<%= f.fields_for :accountable do |a| %>
    <tr>
      <td width='30%' class="text-right" style='background:none; border:none;'><label class=''>Registration number</label></td>
      <td width='70%' style='background:none; border:none;'><%= a.text_field :registration_number, :class => 'form-control' %></td>
    </tr>
      <tr>
        <td width='30%' class="text-right" style='background:none; border:none;'>
          <label class='control-label-required'>Filling frequency</label>
          </td>
        <td width='70%' style='background:none; border:none;'>
        <%= a.collection_select(:filling_frequency, Account.filling_frequency, :first, :last, {:include_blank => true}, :class=>"bg-focus form-control") %> 
        </td>
      </tr>
      <tr>
        <td class="text-right" style='background:none; border:none;'><label class='control-label-required'> Tax rate %</label></td>
        <td style='background:none; border:none;'><%= a.text_field :tax_rate, :onkeydown => "return numbersOnly(event);", :class => "bg-focus form-control amount" %></td>
      </tr>
      <tr>
        <td width='30%' class="text-right" style='background:none; border:none;'><label class=''>Description</label></td>
        <td width='70%' style='background:none; border:none;'><%= a.text_area :description, :class=>"bg-focus form-control", :rows=> 3 %></td>
      </tr>
      <% end %>
      </div>