<%= f.fields_for :accountable do |a| %>
  <div class="form-group">
    <div class="col-lg-4">
      <label class="control-label">Depreciable ?</label><br/>
      <div class="block">
        <% if @account.accountable.depreciable? %>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-sm btn-white active">
              <%= a.radio_button :depreciable, true,  { :tabindex=>'4'}  %>Yes
            </label>
            <label class="btn btn-sm btn-white">
              <%= a.radio_button :depreciable, false,  { :tabindex=>'4'}  %>No
            </label>
          </div>
        <% else %>
          <%= hidden_field_tag :depreciable, '0'%>
        <% end %>
      </div>  
    </div>
    <div class="col-lg-4">
      <%= a.label :depreciation_rate,  :class=>"control-label-required"%>
      <div class="input-group">
        <%= a.text_field :depreciation_rate, :class => 'form-control' %>
      </div>
    </div>
  </div>
<% end %>