  <div class="form-group gradeU odd">
	  <div class="col-lg-2 text-right"><label class="control-label">Loan account number</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[account_number]','',:size => 30, :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU even">
	  <div class="col-lg-2 text-right"><label class="control-label">Bank name</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[bank_name]','',:size => 30, :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU odd">
	  <div class="col-lg-2 text-right"><label class="control-label">Loan Type</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[loan_type]','',:size => 30, :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU even">
	  <div class="col-lg-2 text-right"><label class="control-label">Interest rate</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[interest_rate]','', :onkeydown => "return numbersOnly(event);", :maxlength => 5, :size => "30", :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU odd">
	  <div class="col-lg-2 text-right"><label class="control-label">Details</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[details]','',:size => 30, :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU odd">
    <div class="col-lg-2 text-right"><label class="control-label">Bank Address Line 1</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[address_attributes][address_line1]','',:size => 30, :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU odd">
    <div class="col-lg-2 text-right"><label class="control-label">Bank Address Line 2</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[address_attributes][address_line2]','',:size => 30, :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU odd">
    <div class="col-lg-2 text-right"><label class="control-label">City</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[address_attributes][city]','',:size => 30, :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU odd">
    <div class="col-lg-2 text-right"><label class="control-label">State</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[address_attributes][state]','',:size => 30, :class=>"bg-focus form-control" %></div>
  </div>
  <div class="form-group gradeU odd">
    <div class="col-lg-2 text-right"><label class="control-label">Pin code</label></div>
    <div class="col-lg-3"><%= text_field_tag 'loan[address_attributes][postal_code]','', :maxlength => "6", :onkeydown => "return numbersOnly(event);", :size => "30", :class=>"bg-focus form-control" %></div>
  </div>

